
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.ecexatmdirect1920-XFG {
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: 0.0063rem;
  width: 100%;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-e2c2-oTg {
    width: 100%;
    height: 503.8rem;
    position: relative;
    flex-shrink: 0;

    .item-3-iqY {
      box-sizing: border-box;
      width: 192rem;
      height: 210.2rem;
      position: absolute;
      flex-direction: column;
      background-size: 100% 100.036%;
      background-position: 0 -0rem;
      padding: 25.7rem 30.5rem 13.3rem 30.2rem;
      left: 0;
      top: 293.6rem;
      align-items: center;
      display: flex;
      background-image: url('REPLACE_IMAGE:593db44ac56e3c05d3c6d775284a209f23961dda');

      .auto-group-bsqr-naW {
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 15.3rem 8.5rem 0rem;
        height: 29.3rem;
        display: flex;

        .logo-3-tdY {
          margin: 2.4rem 6.1rem 0rem 0rem;
          width: 23.8rem;
          height: 12.2rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .bubble-LEe {
          margin-right: 7rem;
          width: 28rem;
          height: 29.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-snjw-F6i {
          margin: 1.7rem 0rem 2.2rem 0rem;
          height: calc(100% - 3.9rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .atm-management-system-Zt6 {
            margin: 0rem 0rem 2.2rem 0.3rem;
            max-width: 50.6rem;
            font-size: 6.4rem;
            font-weight: 800;
            line-height: 1.3999999762;
            color: #002d3f;
            font-family: Mont, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .cloud-instantly-available-rcJ {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.7rem;
            font-weight: 800;
            line-height: 1.3800000371;
            color: #002d3f;
            font-family: Mont, 'Source Sans Pro';
          }
        }
      }
      .auto-group-ff2i-NqY {
        width: 100%;
        height: 133.4rem;
        position: relative;
        flex-shrink: 0;

        .photocomputer-1-Uta {
          vertical-align: top;
          width: 131.3rem;
          height: 79.9rem;
          position: absolute;
          left: 0;
          top: 53.5rem;
          object-fit: cover;
        }
        .biggreenframe-1-R38 {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 131.3rem;
          height: 58.6rem;
        }
        .all-in-one-atm-operations-monitoring--9Uv {
          white-space: nowrap;
          position: absolute;
          left: 8.5rem;
          top: 7.9rem;
          font-size: 3.8rem;
          color: #e8e8e7;
          width: 63.6rem;
          height: 4.8rem;
          font-weight: 700;
          line-height: 1.2575;
          font-family: Verdana, 'Source Sans Pro';
        }
        .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-bri {
          font-size: 3.4rem;
          line-height: 1.3303319146;
          color: #e8e8e7;
          width: 44.1rem;
          position: absolute;
          top: 18.2rem;
          font-weight: 400;
          font-family: Verdana, 'Source Sans Pro';
          height: 18.8rem;
          left: 16.6rem;

          .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-bri-sub-0 {
            font-size: 3.4rem;
            font-weight: 700;
            line-height: 1.3764900932;
            color: #e8e8e7;
            font-family: Verdana, 'Source Sans Pro';
          }
          .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-bri-sub-1 {
            font-size: 3.4rem;
            font-weight: 400;
            line-height: 1.3764900932;
            color: #e8e8e7;
            font-family: Verdana, 'Source Sans Pro';
          }
        }
        .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-dqL {
          line-height: 1.3303320268;
          font-family: Verdana, 'Source Sans Pro';
          height: 27.2rem;
          position: absolute;
          left: 77.6rem;
          top: 18.2rem;
          font-weight: 700;
          width: 36.7rem;
          font-size: 3.4rem;
          color: #e8e8e7;

          .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-dqL-sub-0 {
          }
          .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-dqL-sub-1 {
            font-weight: 400;
            line-height: 1.3303320268;
            color: #e8e8e7;
            font-family: Verdana, 'Source Sans Pro';
            font-size: 3.4rem;
          }
        }
        .line-1-Ja6 {
          width: 0.2rem;
          height: 29.9rem;
          position: absolute;
          left: 63.3rem;
          top: 19.6rem;
          background-color: rgba(255, 255, 255, 0.200000003);
        }
        .item-2-1-qK8 {
          vertical-align: top;
          width: 3.7rem;
          height: 6.2rem;
          position: absolute;
          left: 69.8rem;
          top: 19.6rem;
          object-fit: cover;
        }
        .item-2-2-qCe {
          top: 19.6rem;
          object-fit: cover;
          vertical-align: top;
          width: 3.7rem;
          height: 6.2rem;
          position: absolute;
          left: 8.8rem;
        }
      }
      .item-3-iqY-bg {
        background-image: url('REPLACE_IMAGE:593db44ac56e3c05d3c6d775284a209f23961dda');
        width: 192rem;
        height: 210.2rem;
        position: relative;
      }
    }
    .item-2-4bC {
      width: 192rem;
      height: 145.2656rem;
      position: absolute;
      top: 168.2rem;
      background-position: center;
      left: 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:39ac0e8056eb817ba356d3f3356e64eab30a65a3');

      .auto-group-a5er-CSW {
        position: absolute;
        left: 30.3rem;
        top: 11.9rem;
        display: flex;
        align-items: flex-start;
        width: 119.7rem;
        height: 35.2rem;

        .logo-2-XDt {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 48rem;
          width: 23.9rem;
          height: 12.3rem;
          object-fit: cover;
        }
        .we-run-an-in-house-delivery-of-new-atm-software-from-new-transaction-types-to-reporting-or-advanced-security-software-development-and-deployment-per-pci-requirements-4jc {
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          flex-shrink: 0;
          margin-top: 7.6rem;
          max-width: 47.8rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.4375;
        }
      }
      .auto-group-g1ej-h1t {
        width: 36.4rem;
        height: 4.6rem;
        position: absolute;
        left: 102.6rem;
        top: 52rem;
        display: flex;
        align-items: center;

        .rectangle-2-Ndp {
          background-color: #174456;
          flex-shrink: 0;
          margin: 0.4rem 2.7rem 0rem 0rem;
          width: 1.6rem;
          height: 1.6rem;
        }
        .multivendor-multihost-gPc {
          font-weight: 700;
          line-height: 1.4375;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.2rem;
        }
      }
      .auto-group-cg4s-1wg {
        display: flex;
        align-items: center;
        width: 37.5rem;
        height: 4.6rem;
        position: absolute;
        left: 102.6rem;
        top: 59.2rem;

        .rectangle-3-Xf8 {
          margin: 0.2rem 2.7rem 0rem 0rem;
          width: 1.6rem;
          height: 1.6rem;
          background-color: #174456;
          flex-shrink: 0;
        }
        .multiprotocol-solutions-eze {
          font-family: Verdana, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.4375;
          color: #e8e8e7;
        }
      }
      .line-1-zYi {
        position: absolute;
        left: 102.7rem;
        top: 58.2rem;
        background-color: rgba(255, 255, 255, 0.200000003);
        width: 51.5rem;
        height: 0.2rem;
      }
      .auto-group-4bsq-vhG {
        width: 110.4rem;
        height: 44.6rem;
        position: absolute;
        left: 37.9rem;
        top: 78.8rem;
        display: flex;
        align-items: flex-start;

        .atm-software-development-integration-s6i {
          flex-shrink: 0;
          margin-right: 21rem;
          max-width: 45.3rem;
          font-size: 6.6rem;
          font-weight: 800;
          line-height: 1.3409090909;
          color: #e8e8e7;
          font-family: Mont, 'Source Sans Pro';
        }
        .logos-wcN {
          margin-top: 1.8rem;
          width: 44.1rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-gv8z-GPk {
            margin: 0rem 0rem 8.4rem 2.3rem;
            width: calc(100% - 2.3rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .restapi-zqY {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 7.6rem;
              width: 17.6rem;
              height: 14.4rem;
              object-fit: cover;
            }
            .iso-X4n {
              flex-shrink: 0;
              width: 16.6rem;
              height: 16.6rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .auto-group-sdzc-SSe {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 2rem;
            width: calc(100% - 2rem);

            .pci-nmQ {
              height: 16.3rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 6rem 0.1rem 0rem;
              width: 24.6rem;
            }
            .nexo-g66 {
              height: 17.8rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              width: 11.5rem;
            }
          }
        }
      }
    }
    .item-1-bD4 {
      position: absolute;
      left: 0;
      top: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 192rem;
      height: 168.2969rem;

      .auto-group-k1y4-jaA {
        margin-bottom: 0.0156rem;
        padding: 9.5rem 30.5rem 31.584rem 29.9rem;
        background-position: center;
        background-image: url('REPLACE_IMAGE:ce8e6318ff99238ddaace656d1d2f35d14fa14c2');
        flex-shrink: 0;
        background-repeat: no-repeat;
        box-sizing: border-box;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-size: 100% 100%;

        .auto-group-egzq-FYW {
          height: 12.3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0rem 28.8rem 0.5rem;
          width: calc(100% - 0.5rem);

          .logo-1-yzJ {
            height: 12.3rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 23.9rem;
          }
          .auto-group-hast-LK4 {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.6rem 0rem 2.2rem 54.5rem;
            height: 100%;

            .smallcubes-1-Scz {
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin: 4.636rem 1.478rem 0rem 0rem;
              width: 0.9217rem;
              height: 1.5362rem;
            }
            .auto-group-zn6e-Mzr {
              margin-right: 16.9rem;
              width: 16.7rem;
              height: 100%;
              flex-shrink: 0;

              .who-we-are-uWa {
                font-weight: 400;
                line-height: 1.975;
                text-transform: uppercase;
                color: #e8e8e7;
                font-family: Verdana, 'Source Sans Pro';
                width: 100%;
                cursor: pointer;
                font-size: 2rem;
                white-space: nowrap;
                margin-bottom: 0.5rem;
              }
              .services-naN {
                font-family: Verdana, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.975;
                text-transform: uppercase;
                color: #f16726;
              }
            }
            .auto-group-jtia-8PL {
              width: 16.7rem;
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .who-we-are-Uxz {
                text-transform: uppercase;
                font-family: Verdana, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                width: 100%;
                cursor: pointer;
                font-size: 2rem;
                line-height: 1.975;
                margin-bottom: 0.5rem;
                font-weight: 400;
                color: #e8e8e7;
              }
              .who-we-are-CPC {
                text-transform: uppercase;
                color: #e8e8e7;
                flex-shrink: 0;
                width: 100%;
                cursor: pointer;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.975;
                font-family: Verdana, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
        }
        .atm-direct-1-isL {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 59rem 7.6rem 0rem;
          width: 72.6rem;
          height: 11.7rem;
          object-fit: cover;
        }
        .the-only-atm-provider-you-need-T4E {
          font-weight: 800;
          line-height: 1.2373582055;
          color: #f16726;
          font-family: Mont, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 75.9rem 12.7rem 0rem;
          max-width: 55.7rem;
          font-size: 6.8rem;
        }
        .auto-group-jopn-8AN {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 47.3rem 0rem 0.2rem;
          width: calc(100% - 47.5rem);
          height: 7.9rem;
          display: flex;

          .button-r6N {
            justify-content: center;
            background-color: #f16726;
            width: 41.1rem;
            height: calc(100% - 1.9rem);
            font-family: Verdana, 'Source Sans Pro';
            display: flex;
            align-items: center;
            margin: 1.3rem 5.3rem 0.6rem 0rem;
            cursor: pointer;
            font-size: 2.7rem;
            line-height: 1.2575;
            color: #002d3f;
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 400;
          }
          .when-complex-tasks-turn-into-fast-and-easy-solutions-tok {
            flex-shrink: 0;
            max-width: 37.7rem;
            font-size: 2.7rem;
            font-weight: 400;
            line-height: 1.462962963;
            color: #e8e8e7;
            font-family: Verdana, 'Source Sans Pro';
          }
        }
      }
      .logos-Wq8 {
        width: 100%;
        align-items: center;
        background-position: center;
        background-image: url('REPLACE_IMAGE:d96a1bbec20ca446e27e0f2322bd2b944e1df7f0');
        padding: 8.7rem 29.9rem 9.097rem 29.9rem;
        display: flex;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        flex-shrink: 0;
        box-sizing: border-box;

        .logotypes-1-eAe {
          height: 11.5rem;
          position: relative;
          background-size: 973.031% 100%;
          background-position: -0.0661rem 0;
          background-image: url('REPLACE_IMAGE:5db445deb5fe3d2bcc5451549d938dd858652e5a');
          flex-shrink: 0;
          margin-right: 17.5rem;
          width: 13.6rem;
        }
        .logotypes-2-XES {
          background-size: 553.691% 100%;
          background-position: -31.1661rem 0;
          background-image: url('REPLACE_IMAGE:5db445deb5fe3d2bcc5451549d938dd858652e5a');
          flex-shrink: 0;
          margin-right: 17.6rem;
          width: 23.9rem;
          height: 11.5rem;
          position: relative;
        }
        .logotypes-3-Qp2 {
          position: relative;
          background-size: 664.986% 100%;
          background-position: -72.6661rem 0;
          background-image: url('REPLACE_IMAGE:5db445deb5fe3d2bcc5451549d938dd858652e5a');
          flex-shrink: 0;
          margin-right: 15.1rem;
          width: 19.9rem;
          height: 11.5rem;
        }
        .logotypes-4-8V8 {
          width: 24.6rem;
          height: 11.5rem;
          position: relative;
          background-size: 537.936% 100%;
          background-position: -107.6661rem 0;
          background-image: url('REPLACE_IMAGE:5db445deb5fe3d2bcc5451549d938dd858652e5a');
          flex-shrink: 0;
        }
      }
    }
  }
  .auto-group-m3ke-npa {
    position: relative;
    flex-shrink: 0;
    width: 192.1rem;
    height: 376.6rem;

    .item-6-jjp {
      left: 0;
      top: 291.1rem;
      background-position: 0 -0.2rem;
      background-image: url('REPLACE_IMAGE:29c1d9f5d08d570b252a322956d55ef952dc1441');
      width: 192rem;
      position: absolute;
      height: 85.5rem;
      display: flex;
      align-items: center;
      background-size: 100% 100.439%;
      box-sizing: border-box;
      padding: 11.1rem 46rem 7.8rem 29.2rem;

      .reference-projects-EAn {
        flex-shrink: 0;
        margin: 0rem 29rem 48.9rem 0rem;
        max-width: 29.7rem;
        font-size: 6.6rem;
        font-weight: 800;
        line-height: 1.3409090909;
        color: #e8e8e7;
        font-family: Mont, 'Source Sans Pro';
      }
      .auto-group-n6d8-YBU {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 3.3rem 11.5rem 0rem;
        align-items: center;
        display: flex;

        .item-1-Uqp {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 28.8596rem;
          width: 3.6rem;
          height: 3.6404rem;
          object-fit: cover;
        }
        .item-3-RFG {
          margin-bottom: 9.9596rem;
          width: 3.6rem;
          height: 3.6404rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item-2-Muc {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 3.6rem;
          height: 3.6rem;
        }
      }
      .auto-group-byqp-ugE {
        margin-top: 2rem;
        width: 51.2rem;
        flex-shrink: 0;

        .auto-group-brpp-3nS {
          width: 100%;
          height: 41.7rem;
          position: relative;
          margin-bottom: 4.8rem;

          .top-bank-in-ukraine-multivendor-multi-hostmultiprotocol-solution-cloud-terminal-management-Bte {
            height: 32rem;
            top: 9.4rem;
            font-size: 3rem;
            width: 36.6rem;
            position: absolute;
            left: 0;
            font-weight: 400;
            line-height: 1.5199999491;
            color: #e8e8e7;
            font-family: Verdana, 'Source Sans Pro';
          }
          .iad--GQJ {
            width: 6.1rem;
            height: 4.6rem;
            position: absolute;
            top: 32.8rem;
            font-size: 3rem;
            font-weight: 700;
            left: 0.8rem;
            line-height: 1.5199999491;
            color: #1ab479;
            font-family: Verdana, 'Source Sans Pro';
            white-space: nowrap;
          }
          .eu-uk-bins-multivendor-nexo-protocol-PE2 {
            left: 1.2rem;
            top: 37.1rem;
            font-size: 3rem;
            color: #e8e8e7;
            white-space: nowrap;
            width: 50rem;
            height: 4.6rem;
            position: absolute;
            font-weight: 400;
            line-height: 1.5199999491;
            font-family: Verdana, 'Source Sans Pro';
          }
          .ukraine--sQ6 {
            height: 5.4rem;
            position: absolute;
            left: 0.9rem;
            color: #e8e8e7;
            font-family: Verdana, 'Source Sans Pro';
            white-space: nowrap;
            width: 12.3rem;
            top: 4.5rem;
            font-size: 3.5rem;
            font-weight: 400;
            line-height: 1.5200000218;
          }
          .banking--zUi {
            width: 13.6rem;
            height: 4.8rem;
            top: 0;
            font-size: 3.1rem;
            font-family: Verdana, 'Source Sans Pro';
            position: absolute;
            left: 1rem;
            font-weight: 700;
            line-height: 1.5199999655;
            text-transform: uppercase;
            color: #f16726;
            white-space: nowrap;
          }
        }
        .auto-group-yydy-s2i {
          width: 40.8rem;
          height: 18.1rem;
          position: relative;

          .crypto--owx {
            height: 4.6rem;
            position: absolute;
            left: 0.8rem;
            font-size: 3rem;
            line-height: 1.5199999491;
            width: 11.3rem;
            font-weight: 700;
            text-transform: uppercase;
            color: #376eb4;
            font-family: Verdana, 'Source Sans Pro';
            white-space: nowrap;
            top: 0;
          }
          .qr-based-deposits-withdrawals-token-issuer-integration-8DY {
            width: 40.8rem;
            position: absolute;
            left: 0;
            top: 4.4rem;
            font-size: 3rem;
            height: 13.7rem;
            font-weight: 400;
            line-height: 1.5199999491;
            color: #e8e8e7;
            font-family: Verdana, 'Source Sans Pro';
          }
        }
      }
      .item-6-jjp-bg {
        width: 192rem;
        height: 85.5rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:29c1d9f5d08d570b252a322956d55ef952dc1441');
      }
    }
    .item-5-xCa {
      width: 192.1rem;
      height: 165.6rem;
      position: absolute;
      left: 0;
      top: 125.6rem;

      .bg-6Jn {
        height: 165.6rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 191.9rem;
      }
      .bg-2y8 {
        vertical-align: top;
        width: 192.1rem;
        height: 165.6rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
      }
      .additional-services-LU2 {
        color: #002d3f;
        font-family: Mont, 'Source Sans Pro';
        height: 18rem;
        position: absolute;
        top: 17.8rem;
        line-height: 1.3999999762;
        width: 30.1rem;
        left: 95.5rem;
        font-size: 6.4rem;
        font-weight: 800;
      }
      .logo-4-T2r {
        width: 23.8rem;
        height: 12.2rem;
        position: absolute;
        left: 30.3rem;
        top: 17.8rem;
        object-fit: cover;
        vertical-align: top;
      }
      .bubble1-nL2 {
        top: 14.1rem;
        object-fit: cover;
        vertical-align: top;
        width: 27.6rem;
        height: 29rem;
        position: absolute;
        left: 138.3rem;
      }
      .frames-iUa {
        left: 30.2rem;
        top: 41.9rem;
        width: 131.1rem;
        height: 108.6rem;
        position: absolute;

        .colorframes1-Exi {
          height: 22rem;
          position: relative;
          left: 0;
          top: 0;
          background-size: 199.848% 493.764%;
          background-position: 0 -0.014rem;
          background-image: url('REPLACE_IMAGE:c393d63970eeb37164bd4da21c6217e775b23832');
          width: 65.6rem;
        }
        .colorframes2-946 {
          width: 65.7rem;
          height: 22.1rem;
          position: relative;
          left: 0;
          top: 43.3rem;
          background-size: 199.543% 491.53%;
          background-position: 0 -43.314rem;
          background-image: url('REPLACE_IMAGE:c393d63970eeb37164bd4da21c6217e775b23832');
        }
        .colorframes3-rDQ {
          left: 0;
          top: 86.7rem;
          background-size: 199.543% 496.018%;
          background-position: 0 -86.714rem;
          background-image: url('REPLACE_IMAGE:c393d63970eeb37164bd4da21c6217e775b23832');
          width: 65.7rem;
          height: 21.9rem;
          position: relative;
        }
        .colorframes4-AUz {
          top: 21.4rem;
          background-size: 199.24% 489.316%;
          background-position: -65.3rem -21.414rem;
          background-image: url('REPLACE_IMAGE:c393d63970eeb37164bd4da21c6217e775b23832');
          width: 65.8rem;
          height: 22.2rem;
          position: relative;
          left: 65.3rem;
        }
        .colorframes5-H3p {
          background-size: 199.543% 493.764%;
          background-position: -65.4rem -65.014rem;
          background-image: url('REPLACE_IMAGE:c393d63970eeb37164bd4da21c6217e775b23832');
          width: 65.7rem;
          height: 22rem;
          position: relative;
          left: 65.4rem;
          top: 65rem;
        }
        .hw-distribution-zD8 {
          height: 6.1rem;
          position: absolute;
          top: 7.4rem;
          line-height: 1.5199999809;
          white-space: nowrap;
          width: 27.8rem;
          left: 14.4rem;
          font-size: 4rem;
          font-weight: 700;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
        }
        .cash-management-sw8 {
          font-weight: 700;
          height: 6.1rem;
          position: absolute;
          left: 76.7rem;
          font-size: 4rem;
          font-family: Verdana, 'Source Sans Pro';
          white-space: nowrap;
          width: 32.7rem;
          top: 28.8rem;
          line-height: 1.5199999809;
          color: #e8e8e7;
        }
        .extended-functionality-M5c {
          width: 40.2rem;
          left: 6.9rem;
          top: 50.7rem;
          color: #e8e8e7;
          line-height: 1.5199999809;
          font-family: Verdana, 'Source Sans Pro';
          white-space: nowrap;
          height: 6.1rem;
          position: absolute;
          font-size: 4rem;
          font-weight: 700;
        }
        .other-upon-request-SMx {
          font-family: Verdana, 'Source Sans Pro';
          white-space: nowrap;
          height: 6.1rem;
          position: absolute;
          top: 94rem;
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.5199999809;
          color: #e8e8e7;
          width: 34.4rem;
          left: 9.5rem;
        }
        .telecom-solutions-Vr2 {
          white-space: nowrap;
          position: absolute;
          left: 78.9rem;
          top: 72.3rem;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          width: 31.8rem;
          height: 6.1rem;
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.5199999809;
        }
      }
    }
    .item-4-D1L {
      align-items: center;
      display: flex;
      background-size: 100% 100.305%;
      background-position: 0 -0.4064rem;
      background-image: url('REPLACE_IMAGE:3a81c947afb99dd5c6fb8d721a39edcc217837c7');
      left: 0;
      padding: 12.3rem 37.8rem 17.825rem 29.2rem;
      width: 192rem;
      height: 135.5248rem;
      position: absolute;
      top: 0;
      flex-direction: column;
      box-sizing: border-box;

      .auto-group-rxa6-JYa {
        margin-bottom: 4.3rem;
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-5sen-Fii {
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 38.2rem;
          display: flex;

          .logo-3-Qbc {
            height: 12.3rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 10.5rem 1.1rem;
            width: 23.9rem;
          }
          .rapid-atm-deployment-Xw8 {
            font-family: Mont, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 35.3rem;
            font-size: 6.4rem;
            font-weight: 800;
            line-height: 1.3828125;
            color: #e8e8e7;
          }
        }
        .auto-group-jaw4-qwp {
          margin-top: 11.4rem;
          width: 51.5rem;
          flex-shrink: 0;

          .auto-group-dhvz-9hc {
            margin: 0rem 15.5rem 5.4rem 0rem;
            width: calc(100% - 15.5rem);
            display: flex;
            align-items: flex-end;

            .icons-1-dMt {
              background-image: url('REPLACE_IMAGE:0256ee3cae71d177dad6376a84f61e4f709fd85a');
              flex-shrink: 0;
              margin-right: 5.4rem;
              width: 10.5rem;
              height: 11.5rem;
              position: relative;
              background-size: 100.386% 780.87%;
              background-position: -0.0202rem -0rem;
            }
            .atm-operations-5Un {
              max-width: 20.1rem;
              font-size: 3.8rem;
              font-weight: 400;
              line-height: 1.5199999558;
              color: #e8e8e7;
              font-family: Verdana, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.8rem;
            }
          }
          .line-2-agS {
            height: 0.2rem;
            background-color: rgba(255, 255, 255, 0.200000003);
            margin-bottom: 6.1rem;
            width: 100%;
          }
          .auto-group-2ryz-GpA {
            display: flex;
            align-items: center;
            margin: 0rem 4.8rem 0rem 0.2rem;
            width: calc(100% - 5rem);

            .icons-2-BAS {
              background-size: 100.386% 816.364%;
              background-position: -0.0202rem -26.4rem;
              background-image: url('REPLACE_IMAGE:0256ee3cae71d177dad6376a84f61e4f709fd85a');
              flex-shrink: 0;
              margin-right: 5.2rem;
              width: 10.5rem;
              height: 11rem;
              position: relative;
            }
            .software-development-and-integrations-D78 {
              font-size: 3.8rem;
              font-weight: 400;
              line-height: 1.5199999558;
              color: #e8e8e7;
              font-family: Verdana, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 30.8rem;
            }
          }
        }
      }
      .line-3-By4 {
        flex-shrink: 0;
        margin: 0rem 0rem 4.2rem 73.5rem;
        width: 51.5rem;
        height: 0.2rem;
        background-color: rgba(255, 255, 255, 0.200000003);
      }
      .auto-group-wpee-uu4 {
        margin: 0rem 10.5rem 4.4rem 73.7rem;
        width: calc(100% - 84.2rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .icons-3-qGv {
          background-position: -0.0202rem -52.1rem;
          background-image: url('REPLACE_IMAGE:0256ee3cae71d177dad6376a84f61e4f709fd85a');
          flex-shrink: 0;
          margin: 0rem 5.2rem 0.4rem 0rem;
          width: 10.5rem;
          height: 11.4rem;
          position: relative;
          background-size: 100.386% 787.719%;
        }
        .advanced-monitoring-and-reporting-XQe {
          line-height: 1.5199999558;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 25.1rem;
          font-size: 3.8rem;
          font-weight: 400;
        }
      }
      .line-4-dia {
        margin: 0rem 0rem 4.4rem 73.5rem;
        width: 51.5rem;
        height: 0.2rem;
        background-color: rgba(255, 255, 255, 0.200000003);
        flex-shrink: 0;
      }
      .auto-group-4vsn-YKk {
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 2.1rem 0rem 0.9rem;
        width: calc(100% - 3rem);
        display: flex;

        .flags-1-SAE {
          background-position: -0.0065rem 0rem;
          background-image: url('REPLACE_IMAGE:c6e609e715c48971acb08b8caa6a22baaf2f3c95');
          flex-shrink: 0;
          margin-right: 4.7rem;
          width: 9rem;
          height: 6.7rem;
          position: relative;
          background-size: 404.589% 100%;
        }
        .flags-2-Wft {
          width: 9rem;
          height: 6.7rem;
          position: relative;
          background-size: 404.589% 100%;
          background-position: -13.7065rem 0;
          background-image: url('REPLACE_IMAGE:c6e609e715c48971acb08b8caa6a22baaf2f3c95');
          flex-shrink: 0;
          margin-right: 4.7rem;
        }
        .flags-3-ELz {
          flex-shrink: 0;
          margin-right: 36.4rem;
          width: 9rem;
          height: 6.7rem;
          position: relative;
          background-size: 404.589% 100%;
          background-position: -27.4065rem 0rem;
          background-image: url('REPLACE_IMAGE:c6e609e715c48971acb08b8caa6a22baaf2f3c95');
        }
        .icons-4-x26 {
          background-position: -0.0202rem -78.8rem;
          background-image: url('REPLACE_IMAGE:0256ee3cae71d177dad6376a84f61e4f709fd85a');
          flex-shrink: 0;
          margin: 0rem 5.2rem 3.3rem 0rem;
          width: 10.5rem;
          height: 11rem;
          position: relative;
          background-size: 100.386% 816.364%;
        }
        .instant-connection-to-card-schemes-dP8 {
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 5.8rem;
          max-width: 33.5rem;
          font-size: 3.8rem;
          font-weight: 400;
          line-height: 1.5199999558;
        }
      }
      .item-4-D1L-bg {
        width: 192rem;
        height: 135.5248rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:3a81c947afb99dd5c6fb8d721a39edcc217837c7');
      }
    }
  }
  .item-8-FvJ {
    background-color: #e8e8e8;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 9.9rem 31rem 12.2rem 29.9rem;
    width: 100%;
    display: flex;
    align-items: center;

    .compliance-partners-A1g {
      line-height: 1.3999999762;
      color: #002d3f;
      font-family: Mont, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 11.7rem 23.6rem 0rem;
      max-width: 40.7rem;
      font-size: 6.4rem;
      font-weight: 800;
    }
    .dertificate-4sk {
      vertical-align: top;
      flex-shrink: 0;
      margin: 2.5rem 7.9rem 0rem 0rem;
      width: 27.3rem;
      height: 39.1rem;
      object-fit: cover;
    }
    .auto-group-1mrc-nok {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 1.6rem 11.3rem 0rem;
      display: flex;

      .kal-8ci {
        margin-bottom: 7.4rem;
        width: 14.7rem;
        height: 10.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .pcidss-Giv {
        width: 20.3rem;
        height: 7.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-ytg2-AZQ {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 12.3rem;

      .visamaster-v2n {
        margin-bottom: 6.5rem;
        width: 21.6rem;
        height: 10.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .atmia-G6e {
        width: 16.6rem;
        height: 7.3rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .item-7-Ckz {
    background-size: 100% 100%;
    background-position: center;
    background-image: url('REPLACE_IMAGE:eb7d5b71ef704277ef7c0a830561bd1dc405af48');
    width: 100%;
    padding: 9.1rem 24.9rem 1.794rem 29.9rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-vd1l-jF8 {
      flex-shrink: 0;
      margin-bottom: 5rem;
      width: 100%;
      display: flex;
      align-items: center;

      .contact-us--Gkr {
        font-size: 3.8rem;
        font-weight: 700;
        line-height: 1.5199999558;
        color: #f16726;
        font-family: Verdana, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 28.5rem 2.6rem 0rem;
      }
      .auto-group-xwqp-MnJ {
        margin: 1.5rem 20.6rem 0rem 0rem;
        width: 28.1rem;
        height: 6.9rem;
        position: relative;
        flex-shrink: 0;

        .who-we-are-TaS {
          font-family: Verdana, 'Source Sans Pro';
          width: 27rem;
          height: 3.9rem;
          position: absolute;
          left: 0;
          font-weight: 400;
          line-height: 1.5199999376;
          color: #e8e8e7;
          cursor: pointer;
          top: 3rem;
          font-size: 2.2rem;
          white-space: nowrap;
        }
        .corporate-office-372-602-7022-jXx {
          position: absolute;
          left: 0;
          top: 0;
          font-weight: 400;
          color: #e8e8e7;
          white-space: nowrap;
          height: 3.4rem;
          font-size: 2.2rem;
          line-height: 1.5199999376;
          font-family: Verdana, 'Source Sans Pro';
          width: 28.1rem;
        }
      }
      .harju-maakond-tallinn-lasname-linnaosa-katusepapi-tn-6-502-11412-dtE {
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.5199999376;
        color: #e8e8e7;
        font-family: Verdana, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 1.3rem;
        max-width: 41.1rem;
      }
    }
    .auto-group-ucie-jAa {
      margin: 0rem 5.8rem 13.1rem 0rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .vector-smart-object-rkz {
        margin: 0rem 2.833rem 0.2rem 0rem;
        width: 6.6667rem;
        height: 5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .nl-office-31-6-2745-6998-dQN {
        margin: 0.8rem 13.1rem 0rem 0rem;
        color: #e8e8e7;
        font-family: Verdana, 'Source Sans Pro';
        display: flex;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.5199999376;
        white-space: nowrap;
        align-items: baseline;
        flex-shrink: 0;

        .nl-office-31-6-2745-6998-dQN-sub-0 {
          font-family: Verdana, 'Source Sans Pro';
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.5199999376;
          color: #e8e8e7;
        }
        .nl-office-31-6-2745-6998-dQN-sub-1 {
        }
      }
      .vector-smart-object-copy-4-KAi {
        height: 5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.792rem 0.2rem 0rem;
        width: 6.7083rem;
      }
      .uk-office-44-7950-449188-qPx {
        margin: 0.8rem 14.5rem 0rem 0rem;
        font-size: 2.2rem;
        font-weight: 400;
        font-family: Verdana, 'Source Sans Pro';
        display: flex;
        line-height: 1.5199999376;
        color: #e8e8e7;
        white-space: nowrap;
        align-items: baseline;
        flex-shrink: 0;

        .uk-office-44-7950-449188-qPx-sub-0 {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.5199999376;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
        }
        .uk-office-44-7950-449188-qPx-sub-1 {
        }
      }
      .vector-smart-object-copy-5-BML {
        margin: 0.2rem 2.8rem 0rem 0rem;
        width: 6.7rem;
        height: 5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ua-office-38-093-441-0774-UrE {
        color: #e8e8e7;
        white-space: nowrap;
        flex-shrink: 0;
        line-height: 1.5199999376;
        font-family: Verdana, 'Source Sans Pro';
        display: flex;
        align-items: baseline;
        margin-top: 0.8rem;
        font-size: 2.2rem;
        font-weight: 400;

        .ua-office-38-093-441-0774-UrE-sub-0 {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.5199999376;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
        }
        .ua-office-38-093-441-0774-UrE-sub-1 {
        }
      }
    }
    .copyright-2023-atm-direct-o-all-rights-reserved-ePL {
      font-size: 1.6rem;
      font-weight: 700;
      font-family: Verdana, 'Source Sans Pro';
      align-items: baseline;
      margin-right: 17.8rem;
      color: #000000;
      white-space: nowrap;
      display: flex;
      flex-shrink: 0;
      line-height: 1.5199999809;

      .copyright-2023-atm-direct-o-all-rights-reserved-ePL-sub-0 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5199999809;
        color: #000000;
        font-family: Verdana, 'Source Sans Pro';
      }
      .copyright-2023-atm-direct-o-all-rights-reserved-ePL-sub-1 {
      }
      .copyright-2023-atm-direct-o-all-rights-reserved-ePL-sub-2 {
        font-weight: 400;
        line-height: 1.5199999809;
        color: #000000;
        font-family: Verdana, 'Source Sans Pro';
        font-size: 1.6rem;
      }
    }
  }
}
