
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.ecexatmdirect19201-i9x {
  position: relative;
  align-items: flex-end;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-bottom: 0.0063rem;
  width: 100%;
  overflow: hidden;
  display: flex;

  .auto-group-rr6r-aT4 {
    width: 100%;
    height: 503.8rem;
    position: relative;
    flex-shrink: 0;

    .item-3-KfY {
      position: absolute;
      align-items: center;
      display: flex;
      background-size: 100% 100.036%;
      background-position: 0 -0rem;
      flex-direction: column;
      background-image: url('REPLACE_IMAGE:593db44ac56e3c05d3c6d775284a209f23961dda');
      box-sizing: border-box;
      padding: 25.7rem 30.5rem 13.3rem 30.2rem;
      width: 192rem;
      height: 210.2rem;
      left: 0;
      top: 293.6rem;

      .auto-group-dqwg-RCn {
        margin: 0rem 15.3rem 8.5rem 0rem;
        height: 29.3rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .logo-3-wS2 {
          flex-shrink: 0;
          margin: 2.4rem 6.1rem 0rem 0rem;
          width: 23.8rem;
          height: 12.2rem;
          object-fit: cover;
          vertical-align: top;
        }
        .bubble-T9U {
          height: 29.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 7rem;
          width: 28rem;
        }
        .auto-group-9nrq-xc2 {
          margin: 1.7rem 0rem 2.2rem 0rem;
          height: calc(100% - 3.9rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .atm-management-system-S1Q {
            line-height: 1.3999999762;
            color: #002d3f;
            font-family: Mont, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 0rem 2.2rem 0.3rem;
            max-width: 50.6rem;
            font-size: 6.4rem;
            font-weight: 800;
          }
          .cloud-instantly-available-6bk {
            font-size: 3.7rem;
            font-weight: 800;
            line-height: 1.3800000371;
            color: #002d3f;
            font-family: Mont, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-v5kp-bYW {
        width: 100%;
        height: 133.4rem;
        position: relative;
        flex-shrink: 0;

        .photocomputer-1-Lkz {
          height: 79.9rem;
          position: absolute;
          left: 0;
          top: 53.5rem;
          object-fit: cover;
          vertical-align: top;
          width: 131.3rem;
        }
        .biggreenframe-1-GuY {
          object-fit: cover;
          vertical-align: top;
          width: 131.3rem;
          height: 58.6rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .all-in-one-atm-operations-monitoring--282 {
          width: 63.6rem;
          height: 4.8rem;
          left: 8.5rem;
          white-space: nowrap;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          position: absolute;
          top: 7.9rem;
          font-size: 3.8rem;
          font-weight: 700;
          line-height: 1.2575;
        }
        .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-rsk {
          line-height: 1.3303319146;
          color: #e8e8e7;
          width: 44.1rem;
          position: absolute;
          left: 16.6rem;
          top: 18.2rem;
          font-size: 3.4rem;
          font-weight: 400;
          height: 18.8rem;
          font-family: Verdana, 'Source Sans Pro';

          .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-rsk-sub-0 {
            font-size: 3.4rem;
            font-weight: 700;
            line-height: 1.3764900932;
            color: #e8e8e7;
            font-family: Verdana, 'Source Sans Pro';
          }
          .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-rsk-sub-1 {
            font-weight: 400;
            line-height: 1.3764900932;
            color: #e8e8e7;
            font-family: Verdana, 'Source Sans Pro';
            font-size: 3.4rem;
          }
        }
        .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-pbc {
          font-size: 3.4rem;
          color: #e8e8e7;
          height: 27.2rem;
          position: absolute;
          left: 77.6rem;
          top: 18.2rem;
          font-weight: 700;
          line-height: 1.3303320268;
          font-family: Verdana, 'Source Sans Pro';
          width: 36.7rem;

          .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-pbc-sub-0 {
          }
          .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-pbc-sub-1 {
            font-size: 3.4rem;
            font-weight: 400;
            line-height: 1.3303320268;
            color: #e8e8e7;
            font-family: Verdana, 'Source Sans Pro';
          }
        }
        .line-1-eyx {
          top: 19.6rem;
          background-color: rgba(255, 255, 255, 0.200000003);
          width: 0.2rem;
          height: 29.9rem;
          position: absolute;
          left: 63.3rem;
        }
        .item-2-1-MdU {
          height: 6.2rem;
          position: absolute;
          left: 69.8rem;
          top: 19.6rem;
          object-fit: cover;
          vertical-align: top;
          width: 3.7rem;
        }
        .item-2-2-Ui6 {
          width: 3.7rem;
          height: 6.2rem;
          position: absolute;
          left: 8.8rem;
          top: 19.6rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .item-3-KfY-bg {
        width: 192rem;
        height: 210.2rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:593db44ac56e3c05d3c6d775284a209f23961dda');
      }
    }
    .item-2-9ZL {
      background-image: url('REPLACE_IMAGE:39ac0e8056eb817ba356d3f3356e64eab30a65a3');
      height: 145.2656rem;
      position: absolute;
      left: 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 192rem;
      top: 168.2rem;
      background-position: center;

      .auto-group-qutg-HfY {
        position: absolute;
        left: 30.3rem;
        top: 11.9rem;
        display: flex;
        align-items: flex-start;
        width: 119.7rem;
        height: 35.2rem;

        .logo-2-27L {
          margin-right: 48rem;
          width: 23.9rem;
          height: 12.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .we-run-an-in-house-delivery-of-new-atm-software-from-new-transaction-types-to-reporting-or-advanced-security-software-development-and-deployment-per-pci-requirements-7Pg {
          font-weight: 400;
          line-height: 1.4375;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          flex-shrink: 0;
          margin-top: 7.6rem;
          max-width: 47.8rem;
          font-size: 3.2rem;
        }
      }
      .auto-group-6qlv-A74 {
        top: 52rem;
        display: flex;
        align-items: center;
        width: 36.4rem;
        height: 4.6rem;
        position: absolute;
        left: 102.6rem;

        .rectangle-2-6WW {
          flex-shrink: 0;
          margin: 0.4rem 2.7rem 0rem 0rem;
          width: 1.6rem;
          height: 1.6rem;
          background-color: #174456;
        }
        .multivendor-multihost-phQ {
          line-height: 1.4375;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.2rem;
          font-weight: 700;
        }
      }
      .auto-group-qn1g-ND8 {
        left: 102.6rem;
        top: 59.2rem;
        display: flex;
        align-items: center;
        width: 37.5rem;
        height: 4.6rem;
        position: absolute;

        .rectangle-3-GJW {
          background-color: #174456;
          flex-shrink: 0;
          margin: 0.2rem 2.7rem 0rem 0rem;
          width: 1.6rem;
          height: 1.6rem;
        }
        .multiprotocol-solutions-CCA {
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.4375;
        }
      }
      .line-1-gNE {
        position: absolute;
        left: 102.7rem;
        top: 58.2rem;
        background-color: rgba(255, 255, 255, 0.200000003);
        width: 51.5rem;
        height: 0.2rem;
      }
      .auto-group-3xdk-1vJ {
        left: 37.9rem;
        top: 78.8rem;
        display: flex;
        align-items: flex-start;
        width: 110.4rem;
        height: 44.6rem;
        position: absolute;

        .atm-software-development-integration-YvE {
          font-size: 6.6rem;
          font-weight: 800;
          line-height: 1.3409090909;
          color: #e8e8e7;
          font-family: Mont, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 21rem;
          max-width: 45.3rem;
        }
        .logos-5QN {
          flex-shrink: 0;
          margin-top: 1.8rem;
          width: 44.1rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;

          .auto-group-eedx-psk {
            margin: 0rem 0rem 8.4rem 2.3rem;
            width: calc(100% - 2.3rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .restapi-xj4 {
              margin-right: 7.6rem;
              width: 17.6rem;
              height: 14.4rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .iso-ebt {
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              width: 16.6rem;
              height: 16.6rem;
            }
          }
          .auto-group-ryrs-oDt {
            margin-right: 2rem;
            width: calc(100% - 2rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .pci-kQ2 {
              flex-shrink: 0;
              margin: 0rem 6rem 0.1rem 0rem;
              width: 24.6rem;
              height: 16.3rem;
              object-fit: cover;
              vertical-align: top;
            }
            .nexo-rhx {
              width: 11.5rem;
              height: 17.8rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .item-1-adx {
      height: 168.2969rem;
      position: absolute;
      left: 0;
      top: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 192rem;

      .auto-group-tvhp-8Qa {
        display: flex;
        flex-direction: column;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        box-sizing: border-box;
        padding: 9.5rem 30.5rem 31.584rem 29.9rem;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 0.0156rem;
        width: 100%;
        background-image: url('REPLACE_IMAGE:ce8e6318ff99238ddaace656d1d2f35d14fa14c2');

        .auto-group-mzya-1DU {
          margin: 0rem 0rem 28.8rem 0.5rem;
          width: calc(100% - 0.5rem);
          height: 12.3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .logo-1-Xhc {
            vertical-align: top;
            flex-shrink: 0;
            width: 23.9rem;
            height: 12.3rem;
            object-fit: cover;
          }
          .auto-group-txwp-tHG {
            align-items: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.6rem 0rem 2.2rem 54.5rem;
            height: 100%;
            display: flex;

            .smallcubes-1-RY6 {
              margin: 4.636rem 1.478rem 0rem 0rem;
              width: 0.9217rem;
              height: 1.5362rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-aidg-MAr {
              width: 16.7rem;
              height: 100%;
              flex-shrink: 0;
              margin-right: 16.9rem;

              .who-we-are-hVc {
                margin-bottom: 0.5rem;
                color: #e8e8e7;
                white-space: nowrap;
                font-family: Verdana, 'Source Sans Pro';
                width: 100%;
                cursor: pointer;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.975;
                text-transform: uppercase;
              }
              .services-Bfg {
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.975;
                text-transform: uppercase;
                color: #f16726;
                font-family: Verdana, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .auto-group-q3mk-vNN {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              width: 16.7rem;
              height: 100%;
              align-items: center;

              .who-we-are-Gx2 {
                font-weight: 400;
                line-height: 1.975;
                color: #e8e8e7;
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.5rem;
                width: 100%;
                cursor: pointer;
                font-size: 2rem;
                text-transform: uppercase;
                font-family: Verdana, 'Source Sans Pro';
              }
              .who-we-are-A1p {
                color: #e8e8e7;
                font-family: Verdana, 'Source Sans Pro';
                flex-shrink: 0;
                cursor: pointer;
                font-size: 2rem;
                font-weight: 400;
                text-transform: uppercase;
                width: 100%;
                line-height: 1.975;
                white-space: nowrap;
              }
            }
          }
        }
        .atm-direct-1-rvE {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 59rem 7.6rem 0rem;
          width: 72.6rem;
          height: 11.7rem;
        }
        .the-only-atm-provider-you-need-Bhc {
          font-family: Mont, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 75.9rem 12.7rem 0rem;
          max-width: 55.7rem;
          font-size: 6.8rem;
          font-weight: 800;
          line-height: 1.2373582055;
          color: #f16726;
        }
        .auto-group-r5rr-ajk {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 47.3rem 0rem 0.2rem;
          width: calc(100% - 47.5rem);
          height: 7.9rem;
          display: flex;

          .button-Vri {
            font-weight: 400;
            color: #002d3f;
            display: flex;
            align-items: center;
            margin: 1.3rem 5.3rem 0.6rem 0rem;
            cursor: pointer;
            font-family: Verdana, 'Source Sans Pro';
            justify-content: center;
            width: 41.1rem;
            line-height: 1.2575;
            white-space: nowrap;
            background-color: #f16726;
            flex-shrink: 0;
            height: calc(100% - 1.9rem);
            font-size: 2.7rem;
          }
          .when-complex-tasks-turn-into-fast-and-easy-solutions-ymt {
            flex-shrink: 0;
            max-width: 37.7rem;
            font-size: 2.7rem;
            font-weight: 400;
            line-height: 1.462962963;
            color: #e8e8e7;
            font-family: Verdana, 'Source Sans Pro';
          }
        }
      }
      .logos-54E {
        background-position: center;
        flex-shrink: 0;
        padding: 8.7rem 29.9rem 9.097rem 29.9rem;
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:d96a1bbec20ca446e27e0f2322bd2b944e1df7f0');
        box-sizing: border-box;
        display: flex;
        align-items: center;

        .logotypes-1-aFt {
          margin-right: 17.5rem;
          width: 13.6rem;
          height: 11.5rem;
          position: relative;
          background-size: 973.031% 100%;
          background-position: -0.0661rem 0;
          background-image: url('REPLACE_IMAGE:5db445deb5fe3d2bcc5451549d938dd858652e5a');
          flex-shrink: 0;
        }
        .logotypes-2-U6N {
          flex-shrink: 0;
          margin-right: 17.6rem;
          width: 23.9rem;
          height: 11.5rem;
          position: relative;
          background-size: 553.691% 100%;
          background-position: -31.1661rem 0;
          background-image: url('REPLACE_IMAGE:5db445deb5fe3d2bcc5451549d938dd858652e5a');
        }
        .logotypes-3-VnA {
          margin-right: 15.1rem;
          width: 19.9rem;
          height: 11.5rem;
          position: relative;
          background-size: 664.986% 100%;
          background-position: -72.6661rem 0;
          background-image: url('REPLACE_IMAGE:5db445deb5fe3d2bcc5451549d938dd858652e5a');
          flex-shrink: 0;
        }
        .logotypes-4-PMk {
          height: 11.5rem;
          position: relative;
          background-size: 537.936% 100%;
          background-position: -107.6661rem 0;
          background-image: url('REPLACE_IMAGE:5db445deb5fe3d2bcc5451549d938dd858652e5a');
          flex-shrink: 0;
          width: 24.6rem;
        }
      }
    }
  }
  .auto-group-yxkn-RJS {
    width: 192.1rem;
    height: 376.6rem;
    position: relative;
    flex-shrink: 0;

    .item-6-mNJ {
      background-position: 0 -0.2rem;
      background-image: url('REPLACE_IMAGE:29c1d9f5d08d570b252a322956d55ef952dc1441');
      box-sizing: border-box;
      height: 85.5rem;
      top: 291.1rem;
      background-size: 100% 100.439%;
      display: flex;
      align-items: center;
      padding: 11.1rem 46rem 7.8rem 29.2rem;
      width: 192rem;
      position: absolute;
      left: 0;

      .reference-projects-GK4 {
        line-height: 1.3409090909;
        color: #e8e8e7;
        font-family: Mont, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 29rem 48.9rem 0rem;
        max-width: 29.7rem;
        font-size: 6.6rem;
        font-weight: 800;
      }
      .auto-group-rb4e-AvE {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 3.3rem 11.5rem 0rem;
        align-items: center;
        display: flex;

        .item-1-ucv {
          margin-bottom: 28.8596rem;
          width: 3.6rem;
          height: 3.6404rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item-3-1vr {
          width: 3.6rem;
          height: 3.6404rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 9.9596rem;
        }
        .item-2-A34 {
          vertical-align: top;
          flex-shrink: 0;
          width: 3.6rem;
          height: 3.6rem;
          object-fit: cover;
        }
      }
      .auto-group-3vle-5vi {
        margin-top: 2rem;
        width: 51.2rem;
        flex-shrink: 0;

        .auto-group-vpgw-dSS {
          margin-bottom: 4.8rem;
          width: 100%;
          height: 41.7rem;
          position: relative;

          .top-bank-in-ukraine-multivendor-multi-hostmultiprotocol-solution-cloud-terminal-management-Nev {
            left: 0;
            top: 9.4rem;
            font-size: 3rem;
            font-weight: 400;
            color: #e8e8e7;
            width: 36.6rem;
            position: absolute;
            font-family: Verdana, 'Source Sans Pro';
            height: 32rem;
            line-height: 1.5199999491;
          }
          .iad--ecS {
            top: 32.8rem;
            font-size: 3rem;
            font-weight: 700;
            font-family: Verdana, 'Source Sans Pro';
            width: 6.1rem;
            position: absolute;
            line-height: 1.5199999491;
            color: #1ab479;
            white-space: nowrap;
            height: 4.6rem;
            left: 0.8rem;
          }
          .eu-uk-bins-multivendor-nexo-protocol-v4A {
            height: 4.6rem;
            position: absolute;
            font-weight: 400;
            line-height: 1.5199999491;
            color: #e8e8e7;
            font-family: Verdana, 'Source Sans Pro';
            width: 50rem;
            top: 37.1rem;
            font-size: 3rem;
            white-space: nowrap;
            left: 1.2rem;
          }
          .ukraine--C1g {
            position: absolute;
            left: 0.9rem;
            top: 4.5rem;
            line-height: 1.5200000218;
            color: #e8e8e7;
            font-family: Verdana, 'Source Sans Pro';
            height: 5.4rem;
            font-size: 3.5rem;
            font-weight: 400;
            white-space: nowrap;
            width: 12.3rem;
          }
          .banking--K6J {
            top: 0;
            font-size: 3.1rem;
            font-weight: 700;
            line-height: 1.5199999655;
            color: #f16726;
            white-space: nowrap;
            height: 4.8rem;
            left: 1rem;
            text-transform: uppercase;
            font-family: Verdana, 'Source Sans Pro';
            width: 13.6rem;
            position: absolute;
          }
        }
        .auto-group-zuer-qKY {
          height: 18.1rem;
          position: relative;
          width: 40.8rem;

          .crypto--b3p {
            height: 4.6rem;
            font-weight: 700;
            line-height: 1.5199999491;
            text-transform: uppercase;
            font-family: Verdana, 'Source Sans Pro';
            white-space: nowrap;
            width: 11.3rem;
            position: absolute;
            left: 0.8rem;
            top: 0;
            font-size: 3rem;
            color: #376eb4;
          }
          .qr-based-deposits-withdrawals-token-issuer-integration-ieE {
            font-weight: 400;
            color: #e8e8e7;
            font-family: Verdana, 'Source Sans Pro';
            top: 4.4rem;
            font-size: 3rem;
            position: absolute;
            left: 0;
            line-height: 1.5199999491;
            width: 40.8rem;
            height: 13.7rem;
          }
        }
      }
      .item-6-mNJ-bg {
        width: 192rem;
        height: 85.5rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:29c1d9f5d08d570b252a322956d55ef952dc1441');
      }
    }
    .item-5-vkJ {
      left: 0;
      top: 125.6rem;
      width: 192.1rem;
      height: 165.6rem;
      position: absolute;

      .bg-eAW {
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 191.9rem;
        height: 165.6rem;
        position: absolute;
        left: 0;
      }
      .bg-Bw8 {
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 192.1rem;
        height: 165.6rem;
        position: absolute;
      }
      .additional-services-jxe {
        width: 30.1rem;
        left: 95.5rem;
        color: #002d3f;
        font-family: Mont, 'Source Sans Pro';
        height: 18rem;
        position: absolute;
        top: 17.8rem;
        font-size: 6.4rem;
        font-weight: 800;
        line-height: 1.3999999762;
      }
      .logo-4-rGa {
        vertical-align: top;
        width: 23.8rem;
        height: 12.2rem;
        position: absolute;
        left: 30.3rem;
        top: 17.8rem;
        object-fit: cover;
      }
      .bubble1-YfC {
        width: 27.6rem;
        height: 29rem;
        position: absolute;
        left: 138.3rem;
        top: 14.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .frames-h2J {
        left: 30.2rem;
        top: 41.9rem;
        width: 131.1rem;
        height: 108.6rem;
        position: absolute;

        .colorframes1-DWS {
          width: 65.6rem;
          height: 22rem;
          position: relative;
          left: 0;
          top: 0;
          background-size: 199.848% 493.764%;
          background-position: 0 -0.014rem;
          background-image: url('REPLACE_IMAGE:c393d63970eeb37164bd4da21c6217e775b23832');
        }
        .colorframes2-jDt {
          background-image: url('REPLACE_IMAGE:c393d63970eeb37164bd4da21c6217e775b23832');
          width: 65.7rem;
          height: 22.1rem;
          position: relative;
          left: 0;
          top: 43.3rem;
          background-size: 199.543% 491.53%;
          background-position: 0 -43.314rem;
        }
        .colorframes3-SPC {
          height: 21.9rem;
          position: relative;
          left: 0;
          top: 86.7rem;
          background-size: 199.543% 496.018%;
          background-position: 0 -86.714rem;
          background-image: url('REPLACE_IMAGE:c393d63970eeb37164bd4da21c6217e775b23832');
          width: 65.7rem;
        }
        .colorframes4-ken {
          position: relative;
          left: 65.3rem;
          top: 21.4rem;
          background-size: 199.24% 489.316%;
          background-position: -65.3rem -21.414rem;
          background-image: url('REPLACE_IMAGE:c393d63970eeb37164bd4da21c6217e775b23832');
          width: 65.8rem;
          height: 22.2rem;
        }
        .colorframes5-f14 {
          background-image: url('REPLACE_IMAGE:c393d63970eeb37164bd4da21c6217e775b23832');
          width: 65.7rem;
          height: 22rem;
          position: relative;
          left: 65.4rem;
          top: 65rem;
          background-size: 199.543% 493.764%;
          background-position: -65.4rem -65.014rem;
        }
        .hw-distribution-wjG {
          font-weight: 700;
          line-height: 1.5199999809;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          left: 14.4rem;
          font-size: 4rem;
          position: absolute;
          top: 7.4rem;
          white-space: nowrap;
          width: 27.8rem;
          height: 6.1rem;
        }
        .cash-management-qpe {
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.5199999809;
          font-family: Verdana, 'Source Sans Pro';
          position: absolute;
          left: 76.7rem;
          top: 28.8rem;
          white-space: nowrap;
          width: 32.7rem;
          height: 6.1rem;
          color: #e8e8e7;
        }
        .extended-functionality-ZVk {
          left: 6.9rem;
          top: 50.7rem;
          font-size: 4rem;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          white-space: nowrap;
          width: 40.2rem;
          height: 6.1rem;
          position: absolute;
          font-weight: 700;
          line-height: 1.5199999809;
        }
        .other-upon-request-5U6 {
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.5199999809;
          font-family: Verdana, 'Source Sans Pro';
          width: 34.4rem;
          height: 6.1rem;
          position: absolute;
          top: 94rem;
          white-space: nowrap;
          left: 9.5rem;
          color: #e8e8e7;
        }
        .telecom-solutions-NCJ {
          white-space: nowrap;
          width: 31.8rem;
          left: 78.9rem;
          top: 72.3rem;
          font-family: Verdana, 'Source Sans Pro';
          line-height: 1.5199999809;
          color: #e8e8e7;
          height: 6.1rem;
          position: absolute;
          font-size: 4rem;
          font-weight: 700;
        }
      }
    }
    .item-4-Fmt {
      box-sizing: border-box;
      width: 192rem;
      display: flex;
      background-size: 100% 100.305%;
      background-position: 0 -0.4064rem;
      padding: 12.3rem 37.8rem 17.125rem 29.2rem;
      height: 135.5248rem;
      position: absolute;
      left: 0;
      top: 0;
      align-items: center;
      flex-direction: column;
      background-image: url('REPLACE_IMAGE:3a81c947afb99dd5c6fb8d721a39edcc217837c7');

      .auto-group-vmht-HyU {
        align-items: flex-start;
        flex-shrink: 0;
        margin-bottom: 4.3rem;
        width: 100%;
        display: flex;

        .auto-group-xf8n-3hk {
          margin-right: 38.2rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .logo-3-oS2 {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 10.5rem 1.1rem;
            width: 23.9rem;
            height: 12.3rem;
            object-fit: cover;
          }
          .rapid-atm-deployment-tyG {
            max-width: 35.3rem;
            font-size: 6.4rem;
            font-weight: 800;
            line-height: 1.3828125;
            color: #e8e8e7;
            font-family: Mont, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .auto-group-nz5x-2Zg {
          width: 51.5rem;
          flex-shrink: 0;
          margin-top: 11.4rem;

          .auto-group-etx2-Aft {
            width: calc(100% - 15.5rem);
            display: flex;
            align-items: flex-end;
            margin: 0rem 15.5rem 5.4rem 0rem;

            .icons-1-hfp {
              height: 11.5rem;
              position: relative;
              background-size: 100.386% 780.87%;
              background-position: -0.0202rem -0rem;
              background-image: url('REPLACE_IMAGE:0256ee3cae71d177dad6376a84f61e4f709fd85a');
              flex-shrink: 0;
              margin-right: 5.4rem;
              width: 10.5rem;
            }
            .atm-operations-bWJ {
              font-weight: 400;
              line-height: 1.5199999558;
              color: #e8e8e7;
              font-family: Verdana, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.8rem;
              max-width: 20.1rem;
              font-size: 3.8rem;
            }
          }
          .line-2-j6i {
            margin-bottom: 6.1rem;
            width: 100%;
            height: 0.2rem;
            background-color: rgba(255, 255, 255, 0.200000003);
          }
          .auto-group-xrbg-eUa {
            margin: 0rem 4.8rem 0rem 0.2rem;
            width: calc(100% - 5rem);
            display: flex;
            align-items: center;

            .icons-2-xVG {
              width: 10.5rem;
              height: 11rem;
              position: relative;
              background-size: 100.386% 816.364%;
              background-position: -0.0202rem -26.4rem;
              background-image: url('REPLACE_IMAGE:0256ee3cae71d177dad6376a84f61e4f709fd85a');
              flex-shrink: 0;
              margin-right: 5.2rem;
            }
            .software-development-and-integrations-3Wi {
              font-weight: 400;
              line-height: 1.5199999558;
              color: #e8e8e7;
              font-family: Verdana, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 30.8rem;
              font-size: 3.8rem;
            }
          }
        }
      }
      .line-3-kR8 {
        margin: 0rem 0rem 4.2rem 73.5rem;
        width: 51.5rem;
        height: 0.2rem;
        background-color: rgba(255, 255, 255, 0.200000003);
        flex-shrink: 0;
      }
      .auto-group-7qot-4wc {
        width: calc(100% - 84.2rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 10.5rem 4.4rem 73.7rem;

        .icons-3-aQA {
          margin: 0rem 5.2rem 0.4rem 0rem;
          width: 10.5rem;
          height: 11.4rem;
          position: relative;
          background-size: 100.386% 787.719%;
          background-position: -0.0202rem -52.1rem;
          background-image: url('REPLACE_IMAGE:0256ee3cae71d177dad6376a84f61e4f709fd85a');
          flex-shrink: 0;
        }
        .advanced-monitoring-and-reporting-fAi {
          font-size: 3.8rem;
          font-weight: 400;
          line-height: 1.5199999558;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 25.1rem;
        }
      }
      .line-4-nFL {
        margin: 0rem 0rem 4.4rem 73.5rem;
        width: 51.5rem;
        height: 0.2rem;
        background-color: rgba(255, 255, 255, 0.200000003);
        flex-shrink: 0;
      }
      .auto-group-gyqj-Wh8 {
        width: calc(100% - 3.8rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 2.1rem 0rem 1.7rem;

        .flagx-1-qjQ {
          height: 7.9rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 10.2rem 37.2rem 0rem 0rem;
          width: 34.8rem;
        }
        .icons-4-y4v {
          height: 11rem;
          position: relative;
          background-size: 100.386% 816.364%;
          background-position: -0.0202rem -78.8rem;
          background-image: url('REPLACE_IMAGE:0256ee3cae71d177dad6376a84f61e4f709fd85a');
          flex-shrink: 0;
          margin: 0rem 5.2rem 0.9rem 0rem;
          width: 10.5rem;
        }
        .instant-connection-to-card-schemes-TEz {
          line-height: 1.5199999558;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 6.5rem;
          max-width: 33.5rem;
          font-size: 3.8rem;
          font-weight: 400;
        }
      }
      .item-4-Fmt-bg {
        width: 192rem;
        height: 135.5248rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:3a81c947afb99dd5c6fb8d721a39edcc217837c7');
      }
    }
  }
  .item-8-2xJ {
    background-color: #e8e8e8;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 9.9rem 31rem 12.2rem 29.9rem;
    width: 100%;
    display: flex;
    align-items: center;

    .compliance-partners-xLA {
      color: #002d3f;
      font-family: Mont, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 11.7rem 23.6rem 0rem;
      max-width: 40.7rem;
      font-size: 6.4rem;
      font-weight: 800;
      line-height: 1.3999999762;
    }
    .dertificate-Gbk {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 2.5rem 7.9rem 0rem 0rem;
      width: 27.3rem;
      height: 39.1rem;
    }
    .auto-group-bozs-QCA {
      margin: 0rem 1.6rem 11.3rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .kal-iCr {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 7.4rem;
        width: 14.7rem;
        height: 10.1rem;
        object-fit: cover;
      }
      .pcidss-FyU {
        width: 20.3rem;
        height: 7.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-mmwa-QbU {
      margin-bottom: 12.3rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .visamaster-mB8 {
        height: 10.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 6.5rem;
        width: 21.6rem;
      }
      .atmia-Jwk {
        width: 16.6rem;
        height: 7.3rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .item-7-dj8 {
    padding: 9.1rem 24.9rem 1.794rem 29.9rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
    background-position: center;
    flex-shrink: 0;
    box-sizing: border-box;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:eb7d5b71ef704277ef7c0a830561bd1dc405af48');

    .auto-group-96mg-y2J {
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 5rem;

      .contact-us--6sc {
        font-size: 3.8rem;
        font-weight: 700;
        line-height: 1.5199999558;
        color: #f16726;
        font-family: Verdana, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 28.5rem 2.6rem 0rem;
      }
      .auto-group-gd6j-dMk {
        margin: 1.5rem 20.6rem 0rem 0rem;
        width: 28.1rem;
        height: 6.9rem;
        position: relative;
        flex-shrink: 0;

        .who-we-are-xev {
          white-space: nowrap;
          width: 27rem;
          cursor: pointer;
          position: absolute;
          left: 0;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          height: 3.9rem;
          top: 3rem;
          font-size: 2.2rem;
          font-weight: 400;
          line-height: 1.5199999376;
        }
        .corporate-office-372-602-7022-g58 {
          position: absolute;
          left: 0;
          font-size: 2.2rem;
          white-space: nowrap;
          font-family: Verdana, 'Source Sans Pro';
          width: 28.1rem;
          height: 3.4rem;
          top: 0;
          font-weight: 400;
          line-height: 1.5199999376;
          color: #e8e8e7;
        }
      }
      .harju-maakond-tallinn-lasname-linnaosa-katusepapi-tn-6-502-11412-MSA {
        font-family: Verdana, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 1.3rem;
        max-width: 41.1rem;
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.5199999376;
        color: #e8e8e7;
      }
    }
    .auto-group-qkjp-cN6 {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 5.8rem 13.1rem 0rem;

      .vector-smart-object-8rE {
        margin: 0rem 2.833rem 0.2rem 0rem;
        width: 6.6667rem;
        height: 5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .nl-office-31-6-2745-6998-epa {
        flex-shrink: 0;
        font-size: 2.2rem;
        color: #e8e8e7;
        font-family: Verdana, 'Source Sans Pro';
        white-space: nowrap;
        align-items: baseline;
        margin: 0.8rem 13.1rem 0rem 0rem;
        font-weight: 400;
        line-height: 1.5199999376;
        display: flex;

        .nl-office-31-6-2745-6998-epa-sub-0 {
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.5199999376;
        }
        .nl-office-31-6-2745-6998-epa-sub-1 {
        }
      }
      .vector-smart-object-copy-4-oL6 {
        margin: 0rem 2.792rem 0.2rem 0rem;
        width: 6.7083rem;
        height: 5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .uk-office-44-7950-449188-Vii {
        white-space: nowrap;
        margin: 0.8rem 14.5rem 0rem 0rem;
        font-weight: 400;
        line-height: 1.5199999376;
        color: #e8e8e7;
        font-family: Verdana, 'Source Sans Pro';
        display: flex;
        align-items: baseline;
        flex-shrink: 0;
        font-size: 2.2rem;

        .uk-office-44-7950-449188-Vii-sub-0 {
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.5199999376;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
        }
        .uk-office-44-7950-449188-Vii-sub-1 {
        }
      }
      .vector-smart-object-copy-5-FrJ {
        margin: 0.2rem 2.8rem 0rem 0rem;
        width: 6.7rem;
        height: 5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ua-office-38-093-441-0774-Nvv {
        font-weight: 400;
        white-space: nowrap;
        display: flex;
        align-items: baseline;
        flex-shrink: 0;
        font-size: 2.2rem;
        line-height: 1.5199999376;
        color: #e8e8e7;
        font-family: Verdana, 'Source Sans Pro';
        margin-top: 0.8rem;

        .ua-office-38-093-441-0774-Nvv-sub-0 {
          font-weight: 700;
          line-height: 1.5199999376;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          font-size: 2.2rem;
        }
        .ua-office-38-093-441-0774-Nvv-sub-1 {
        }
      }
    }
    .copyright-2023-atm-direct-o-all-rights-reserved-oWS {
      color: #000000;
      display: flex;
      flex-shrink: 0;
      margin-right: 17.8rem;
      font-weight: 700;
      line-height: 1.5199999809;
      align-items: baseline;
      font-size: 1.6rem;
      font-family: Verdana, 'Source Sans Pro';
      white-space: nowrap;

      .copyright-2023-atm-direct-o-all-rights-reserved-oWS-sub-0 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5199999809;
        color: #000000;
        font-family: Verdana, 'Source Sans Pro';
      }
      .copyright-2023-atm-direct-o-all-rights-reserved-oWS-sub-1 {
      }
      .copyright-2023-atm-direct-o-all-rights-reserved-oWS-sub-2 {
        font-family: Verdana, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5199999809;
        color: #000000;
      }
    }
  }
}
