
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.ecexatmdirect1280-Xge {
  background-color: #ffffff;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  padding-bottom: 0.0041rem;
  width: 100%;
  align-items: center;
  display: flex;

  .auto-group-fgnn-t9p {
    flex-shrink: 0;
    width: 128.0731rem;
    height: 586.963rem;
    position: relative;

    .item-6-thY {
      align-items: center;
      padding: 7.4rem 30.603rem 5.134rem 19.468rem;
      top: 529.9601rem;
      display: flex;
      position: absolute;
      left: 0;
      background-size: 100% 100.439%;
      background-position: 0 -0.1333rem;
      background-image: url('REPLACE_IMAGE:29c1d9f5d08d570b252a322956d55ef952dc1441');
      box-sizing: border-box;
      width: 128.0065rem;
      height: 57.0029rem;

      .reference-projects-Knr {
        max-width: 18.5rem;
        font-size: 4.1rem;
        font-weight: 800;
        line-height: 1.4390972417;
        color: #e8e8e7;
        font-family: Mont, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 20.635rem 32.569rem 0rem;
      }
      .auto-group-aykp-BaA {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 2.2rem 7.733rem 0rem;
        align-items: center;

        .item-1-Var {
          margin-bottom: 19.2407rem;
          width: 2.4001rem;
          height: 2.4271rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item-3-CVG {
          flex-shrink: 0;
          margin-bottom: 6.6401rem;
          width: 2.4001rem;
          height: 2.4271rem;
          object-fit: cover;
          vertical-align: top;
        }
        .item-2-7s8 {
          height: 2.4001rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 2.4001rem;
        }
      }
      .auto-group-etvt-FCe {
        flex-shrink: 0;
        margin-top: 1.3334rem;
        width: 34.2rem;

        .auto-group-hwfx-niN {
          margin-bottom: 3.167rem;
          width: 100%;
          height: 27.8346rem;
          position: relative;

          .top-bank-in-ukraine-multivendor-multi-hostmultiprotocol-solution-cloud-terminal-management-KCW {
            left: 0;
            font-family: Verdana, 'Source Sans Pro';
            width: 24.4rem;
            height: 21.3rem;
            font-size: 2.0001rem;
            font-weight: 400;
            line-height: 1.5200000191;
            color: #e8e8e7;
            position: absolute;
            top: 6.267rem;
          }
          .iad--UWe {
            left: 0.5334rem;
            font-size: 2.0001rem;
            font-weight: 700;
            color: #1ab479;
            font-family: Verdana, 'Source Sans Pro';
            height: 3.1rem;
            position: absolute;
            line-height: 1.5200000191;
            white-space: nowrap;
            width: 4.1rem;
            top: 21.8677rem;
          }
          .eu-uk-bins-multivendor-nexo-protocol-A8a {
            width: 33.4rem;
            left: 0.8rem;
            line-height: 1.5200000191;
            color: #e8e8e7;
            font-family: Verdana, 'Source Sans Pro';
            height: 3.1rem;
            position: absolute;
            top: 24.7346rem;
            font-size: 2.0001rem;
            font-weight: 400;
            white-space: nowrap;
          }
          .ukraine--RKQ {
            color: #e8e8e7;
            font-family: Verdana, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2.3335rem;
            height: 3.6rem;
            position: absolute;
            left: 0.6rem;
            top: 3.0001rem;
            font-weight: 400;
            line-height: 1.5199999085;
            width: 8.2rem;
          }
          .banking--6wL {
            top: 0;
            font-size: 2rem;
            white-space: nowrap;
            width: 8.8rem;
            left: 0.6667rem;
            font-weight: 700;
            line-height: 1.5199999809;
            text-transform: uppercase;
            color: #f16726;
            font-family: Verdana, 'Source Sans Pro';
            height: 3.1rem;
            position: absolute;
          }
        }
        .auto-group-zs3p-24J {
          width: 27.2rem;
          height: 12.1335rem;
          position: relative;

          .crypto--9ei {
            width: 7.5rem;
            height: 3.1rem;
            left: 0.5334rem;
            top: 0;
            font-size: 2.0001rem;
            font-weight: 700;
            line-height: 1.5200000191;
            text-transform: uppercase;
            font-family: Verdana, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            color: #376eb4;
          }
          .qr-based-deposits-withdrawals-token-issuer-integration-2iW {
            height: 9.2rem;
            left: 0;
            width: 27.2rem;
            position: absolute;
            top: 2.9335rem;
            font-size: 2.0001rem;
            font-weight: 400;
            line-height: 1.5200000191;
            color: #e8e8e7;
            font-family: Verdana, 'Source Sans Pro';
          }
        }
      }
      .item-6-thY-bg {
        position: relative;
        background-image: url('REPLACE_IMAGE:29c1d9f5d08d570b252a322956d55ef952dc1441');
        width: 128.0065rem;
        height: 57.0029rem;
      }
    }
    .item-5-1qL {
      height: 110.4056rem;
      position: absolute;
      left: 0;
      top: 419.6212rem;
      width: 128.0731rem;

      .bg-YaN {
        object-fit: cover;
        vertical-align: top;
        width: 127.9398rem;
        height: 110.4056rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .bg-Hnr {
        object-fit: contain;
        vertical-align: top;
        width: 128.0731rem;
        height: 110.4056rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .additional-services-Exz {
        position: absolute;
        top: 11.8673rem;
        font-size: 4.1rem;
        font-weight: 800;
        line-height: 1.3999999442;
        color: #002d3f;
        width: 19.3rem;
        height: 11.5rem;
        left: 63.6699rem;
        font-family: Mont, 'Source Sans Pro';
      }
      .logo-4-vqp {
        width: 15.8675rem;
        height: 8.1337rem;
        position: absolute;
        left: 20.201rem;
        top: 11.8673rem;
        object-fit: cover;
        vertical-align: top;
      }
      .bubble1-SJN {
        left: 92.2047rem;
        top: 9.4005rem;
        object-fit: cover;
        vertical-align: top;
        width: 18.4009rem;
        height: 19.3343rem;
        position: absolute;
      }
      .frames-mrS {
        left: 20.1343rem;
        top: 27.9348rem;
        width: 87.4044rem;
        height: 72.4037rem;
        position: absolute;

        .colorframes1-JbU {
          background-size: 199.848% 493.764%;
          background-position: 0 -0.0094rem;
          background-image: url('REPLACE_IMAGE:c393d63970eeb37164bd4da21c6217e775b23832');
          width: 43.7355rem;
          height: 14.6674rem;
          position: relative;
          left: 0;
          top: 0;
        }
        .colorframes2-aot {
          top: 28.8681rem;
          background-size: 199.543% 491.53%;
          background-position: 0 -28.8775rem;
          background-image: url('REPLACE_IMAGE:c393d63970eeb37164bd4da21c6217e775b23832');
          width: 43.8022rem;
          height: 14.7341rem;
          position: relative;
          left: 0;
        }
        .colorframes3-Vfx {
          background-size: 199.543% 496.018%;
          background-position: 0 -57.8123rem;
          background-image: url('REPLACE_IMAGE:c393d63970eeb37164bd4da21c6217e775b23832');
          width: 43.8022rem;
          height: 14.6007rem;
          position: relative;
          left: 0;
          top: 57.8029rem;
        }
        .colorframes4-mtN {
          position: relative;
          left: 43.5355rem;
          top: 14.2674rem;
          background-size: 199.24% 489.316%;
          background-position: -43.5355rem -14.2767rem;
          background-image: url('REPLACE_IMAGE:c393d63970eeb37164bd4da21c6217e775b23832');
          width: 43.8689rem;
          height: 14.8007rem;
        }
        .colorframes5-Gq8 {
          position: relative;
          left: 43.6022rem;
          top: 43.3355rem;
          background-size: 199.543% 493.764%;
          background-position: -43.6022rem -43.3449rem;
          background-image: url('REPLACE_IMAGE:c393d63970eeb37164bd4da21c6217e775b23832');
          width: 43.8022rem;
          height: 14.6674rem;
        }
        .hw-distribution-mmt {
          height: 4rem;
          position: absolute;
          font-size: 2.6rem;
          font-weight: 700;
          line-height: 1.5200000176;
          color: #e8e8e7;
          white-space: nowrap;
          width: 18.1rem;
          top: 4.9336rem;
          font-family: Verdana, 'Source Sans Pro';
          left: 9.6005rem;
        }
        .cash-management-fcN {
          position: absolute;
          left: 51.1359rem;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          white-space: nowrap;
          width: 21.3rem;
          height: 4rem;
          top: 19.201rem;
          font-size: 2.6rem;
          font-weight: 700;
          line-height: 1.5200000176;
        }
        .extended-functionality-ajL {
          height: 4rem;
          left: 4.6002rem;
          font-size: 2.6rem;
          font-family: Verdana, 'Source Sans Pro';
          width: 26.1rem;
          position: absolute;
          top: 33.8017rem;
          font-weight: 700;
          line-height: 1.5200000176;
          color: #e8e8e7;
          white-space: nowrap;
        }
        .other-upon-request-U42 {
          width: 22.4rem;
          font-size: 2.6rem;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          height: 4rem;
          position: absolute;
          left: 6.3337rem;
          top: 62.6698rem;
          font-weight: 700;
          line-height: 1.5200000176;
          white-space: nowrap;
        }
        .telecom-solutions-mJ2 {
          top: 48.2024rem;
          font-size: 2.6rem;
          line-height: 1.5200000176;
          white-space: nowrap;
          width: 20.7rem;
          height: 4rem;
          position: absolute;
          left: 52.6027rem;
          font-weight: 700;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
        }
      }
    }
    .item-4-qHt {
      position: absolute;
      top: 335.8836rem;
      display: flex;
      flex-direction: column;
      background-size: 100% 100.305%;
      padding: 8.2rem 25.201rem 11.884rem 19.468rem;
      width: 128.0065rem;
      height: 90.3544rem;
      background-position: 0 -0.2709rem;
      background-image: url('REPLACE_IMAGE:3a81c947afb99dd5c6fb8d721a39edcc217837c7');
      box-sizing: border-box;
      left: 0;
      align-items: center;

      .auto-group-4sea-6Ui {
        margin-bottom: 3.0674rem;
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-vm9l-qx6 {
          margin-right: 26.3025rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .logo-3-CGr {
            height: 8.2004rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 7rem 0.733rem;
            width: 15.9341rem;
          }
          .rapid-atm-deployment-KMU {
            font-weight: 800;
            line-height: 1.4390972417;
            color: #e8e8e7;
            font-family: Mont, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 22.7rem;
            font-size: 4.1rem;
          }
        }
        .auto-group-aghq-ePk {
          width: 34.3351rem;
          flex-shrink: 0;
          margin-top: 7.6004rem;

          .auto-group-gd6r-NKk {
            width: calc(100% - 10.5345rem);
            display: flex;
            align-items: flex-start;
            margin: 0rem 10.535rem 3.6rem 0rem;

            .icons-1-u4n {
              background-size: 100.386% 780.87%;
              background-position: -0.0135rem 0rem;
              background-image: url('REPLACE_IMAGE:0256ee3cae71d177dad6376a84f61e4f709fd85a');
              flex-shrink: 0;
              margin: 0.6rem 3.6rem 0rem 0rem;
              width: 7.0004rem;
              height: 7.667rem;
              position: relative;
            }
            .atm-operations-PEr {
              font-family: Verdana, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 13.2rem;
              font-size: 2.5rem;
              font-weight: 400;
              line-height: 1.52;
              color: #e8e8e7;
            }
          }
          .line-2-KeJ {
            margin-bottom: 4.0668rem;
            width: 100%;
            height: 0.1333rem;
            background-color: rgba(255, 255, 255, 0.200000003);
          }
          .auto-group-kyai-GJe {
            margin: 0rem 3.435rem 0rem 0.133rem;
            width: calc(100% - 3.5679rem);
            display: flex;
            align-items: center;

            .icons-2-BgW {
              width: 7.0004rem;
              height: 7.3337rem;
              position: relative;
              background-size: 100.386% 816.364%;
              background-position: -0.0135rem -17.6008rem;
              background-image: url('REPLACE_IMAGE:0256ee3cae71d177dad6376a84f61e4f709fd85a');
              flex-shrink: 0;
              margin: 0.201rem 3.467rem 0rem 0rem;
            }
            .software-development-and-integrations-Ghx {
              flex-shrink: 0;
              max-width: 20.3rem;
              font-size: 2.5rem;
              font-weight: 400;
              line-height: 1.52;
              color: #e8e8e7;
              font-family: Verdana, 'Source Sans Pro';
            }
          }
        }
      }
      .line-3-9Wr {
        background-color: rgba(255, 255, 255, 0.200000003);
        flex-shrink: 0;
        margin: 0rem 0rem 2.8rem 49.002rem;
        width: 34.3351rem;
        height: 0.1333rem;
      }
      .auto-group-igze-5QW {
        margin: 0rem 7.235rem 3.134rem 49.136rem;
        width: calc(100% - 56.3704rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .icons-3-1Z4 {
          background-size: 100.386% 787.719%;
          background-position: -0.0135rem -34.7351rem;
          background-image: url('REPLACE_IMAGE:0256ee3cae71d177dad6376a84f61e4f709fd85a');
          flex-shrink: 0;
          margin: 0rem 3.467rem 0.066rem 0rem;
          width: 7.0004rem;
          height: 7.6004rem;
          position: relative;
        }
        .advanced-monitoring-and-reporting-uuL {
          line-height: 1.52;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 16.5rem;
          font-size: 2.5rem;
          font-weight: 400;
        }
      }
      .line-4-1xN {
        margin: 0rem 0rem 2.933rem 49.002rem;
        width: 34.3351rem;
        height: 0.1333rem;
        background-color: rgba(255, 255, 255, 0.200000003);
        flex-shrink: 0;
      }
      .auto-group-kqve-YSW {
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 1.735rem 0rem 0.6rem;
        width: calc(100% - 2.3346rem);

        .flags-1-EaE {
          height: 4.4669rem;
          position: relative;
          background-size: 404.589% 100%;
          background-position: -0.0043rem 0rem;
          background-image: url('REPLACE_IMAGE:c6e609e715c48971acb08b8caa6a22baaf2f3c95');
          flex-shrink: 0;
          margin-right: 3.1335rem;
          width: 6.0003rem;
        }
        .flags-2-Jpz {
          height: 4.4669rem;
          position: relative;
          background-size: 404.589% 100%;
          background-position: -9.1381rem 0;
          background-image: url('REPLACE_IMAGE:c6e609e715c48971acb08b8caa6a22baaf2f3c95');
          flex-shrink: 0;
          margin-right: 3.1335rem;
          width: 6.0003rem;
        }
        .flags-3-nkA {
          width: 6.0003rem;
          height: 4.4669rem;
          position: relative;
          background-size: 404.589% 100%;
          background-position: -18.2719rem 0rem;
          background-image: url('REPLACE_IMAGE:c6e609e715c48971acb08b8caa6a22baaf2f3c95');
          flex-shrink: 0;
          margin-right: 24.2679rem;
        }
        .icons-4-uJz {
          background-image: url('REPLACE_IMAGE:0256ee3cae71d177dad6376a84f61e4f709fd85a');
          flex-shrink: 0;
          margin: 0rem 3.467rem 2.2rem 0rem;
          width: 7.0004rem;
          height: 7.3337rem;
          position: relative;
          background-size: 100.386% 816.364%;
          background-position: -0.0135rem -52.5359rem;
        }
        .instant-connection-to-card-schemes-aR8 {
          max-width: 22rem;
          font-size: 2.5rem;
          font-weight: 400;
          line-height: 1.52;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 4.0006rem;
        }
      }
      .item-4-qHt-bg {
        position: relative;
        background-image: url('REPLACE_IMAGE:3a81c947afb99dd5c6fb8d721a39edcc217837c7');
        width: 128.0065rem;
        height: 90.3544rem;
      }
    }
    .item-3-2H8 {
      position: absolute;
      left: 0;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 17.134rem 17.537rem 8.867rem 20.134rem;
      top: 195.7432rem;
      align-items: center;
      background-size: 100% 100.036%;
      background-position: 0 -0rem;
      background-image: url('REPLACE_IMAGE:593db44ac56e3c05d3c6d775284a209f23961dda');
      width: 128.0065rem;
      height: 140.1404rem;

      .auto-group-ax1c-ive {
        margin: 0rem 0rem 5.667rem 0.067rem;
        width: 90.2689rem;
        height: 19.5343rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .logo-3-DcW {
          flex-shrink: 0;
          margin: 1.6rem 4.067rem 0rem 0rem;
          width: 15.8675rem;
          height: 8.1337rem;
          object-fit: cover;
          vertical-align: top;
        }
        .bubble-8zN {
          margin-right: 4.6669rem;
          width: 18.6676rem;
          height: 19.5343rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-j3es-V4E {
          flex-shrink: 0;
          margin: 1.133rem 0rem 1.534rem 0rem;
          height: calc(100% - 2.6669rem);
          display: flex;
          flex-direction: column;

          .atm-management-system-pMQ {
            color: #002d3f;
            font-family: Mont, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 7.667rem 0.2rem;
            font-size: 4.1rem;
            font-weight: 800;
            line-height: 1.3999999442;
          }
          .cloud-instantly-available-jjG {
            font-size: 2.4rem;
            font-weight: 800;
            line-height: 1.3799999555;
            color: #002d3f;
            font-family: Mont, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-q9yn-fcv {
        margin-right: 2.7978rem;
        width: 87.5378rem;
        height: 88.9378rem;
        position: relative;
        flex-shrink: 0;

        .photocomputer-1-ZiJ {
          width: 87.5378rem;
          height: 53.2693rem;
          position: absolute;
          left: 0;
          top: 35.6685rem;
          object-fit: cover;
          vertical-align: top;
        }
        .biggreenframe-1-Gci {
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 87.5378rem;
          height: 39.0687rem;
          position: absolute;
        }
        .all-in-one-atm-operations-monitoring--1aJ {
          color: #e8e8e7;
          position: absolute;
          left: 5.667rem;
          top: 5.2669rem;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 1.2575;
          font-family: Verdana, 'Source Sans Pro';
          white-space: nowrap;
          width: 41.9rem;
          height: 3.2rem;
        }
        .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-Wmx {
          width: 29rem;
          height: 12.2rem;
          font-weight: 400;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          position: absolute;
          left: 11.0672rem;
          top: 12.1339rem;
          font-size: 2.2rem;
          line-height: 1.3303318891;

          .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-Wmx-sub-0 {
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.3764900932;
            color: #e8e8e7;
            font-family: Verdana, 'Source Sans Pro';
          }
          .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-Wmx-sub-1 {
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 1.3764900932;
            color: #e8e8e7;
            font-family: Verdana, 'Source Sans Pro';
          }
        }
        .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-5Vc {
          height: 17.6rem;
          font-size: 2.2rem;
          line-height: 1.3303320625;
          font-family: Verdana, 'Source Sans Pro';
          width: 28rem;
          position: absolute;
          left: 51.7359rem;
          top: 12.1339rem;
          font-weight: 700;
          color: #e8e8e7;

          .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-5Vc-sub-0 {
            font-weight: 700;
            line-height: 1.3303320625;
            color: #e8e8e7;
            font-family: Verdana, 'Source Sans Pro';
            font-size: 2.2rem;
          }
          .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-5Vc-sub-1 {
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 1.3303320625;
            color: #e8e8e7;
            font-family: Verdana, 'Source Sans Pro';
          }
        }
        .line-1-BqU {
          position: absolute;
          left: 42.2021rem;
          top: 13.0673rem;
          background-color: rgba(255, 255, 255, 0.200000003);
          width: 0rem;
          height: 0.1333rem;
        }
        .item-2-1-Kgn {
          top: 13.0673rem;
          object-fit: cover;
          vertical-align: top;
          width: 2.4668rem;
          height: 4.1335rem;
          position: absolute;
          left: 46.5357rem;
        }
        .item-2-2-rgi {
          width: 2.4668rem;
          height: 4.1335rem;
          position: absolute;
          left: 5.867rem;
          top: 13.0673rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .item-3-2H8-bg {
        width: 128.0065rem;
        height: 140.1404rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:593db44ac56e3c05d3c6d775284a209f23961dda');
      }
    }
    .item-2-GkS {
      background-image: url('REPLACE_IMAGE:39ac0e8056eb817ba356d3f3356e64eab30a65a3');
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      top: 112.139rem;
      background-size: 100% 100%;
      width: 128.0065rem;
      height: 96.8486rem;
      left: 0;

      .auto-group-c2vg-zwL {
        width: 82.6358rem;
        height: 23.5669rem;
        position: absolute;
        left: 20.201rem;
        top: 7.9338rem;
        display: flex;
        align-items: flex-start;

        .logo-2-Kii {
          margin-right: 32.0016rem;
          width: 15.9341rem;
          height: 8.2004rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .we-run-an-in-house-delivery-of-new-atm-software-from-new-transaction-types-to-reporting-or-advanced-security-software-development-and-deployment-per-pci-requirements-4wC {
          flex-shrink: 0;
          margin-top: 5.0669rem;
          max-width: 34.7rem;
          font-size: 2.1rem;
          font-weight: 400;
          line-height: 1.4603912717;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
        }
      }
      .auto-group-qkga-tfL {
        display: flex;
        align-items: center;
        width: 23.9668rem;
        height: 3.1rem;
        position: absolute;
        left: 68.4035rem;
        top: 34.6685rem;

        .rectangle-2-EDQ {
          margin: 0.233rem 1.8rem 0rem 0rem;
          width: 1.0667rem;
          height: 1.0667rem;
          background-color: #174456;
          flex-shrink: 0;
        }
        .multivendor-multihost-jfx {
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.1rem;
          font-weight: 700;
          line-height: 1.4603912717;
        }
      }
      .auto-group-r4bu-fpW {
        width: 24.6668rem;
        height: 3.1rem;
        position: absolute;
        left: 68.4035rem;
        top: 39.4687rem;
        display: flex;
        align-items: center;

        .rectangle-3-biA {
          width: 1.0667rem;
          height: 1.0667rem;
          background-color: #174456;
          flex-shrink: 0;
          margin: 0.1rem 1.8rem 0rem 0rem;
        }
        .multiprotocol-solutions-Xri {
          flex-shrink: 0;
          font-size: 2.1rem;
          font-weight: 700;
          line-height: 1.4603912717;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .line-1-GpJ {
        width: 34.3351rem;
        height: 0.1333rem;
        position: absolute;
        left: 68.4701rem;
        top: 38.802rem;
        background-color: rgba(255, 255, 255, 0.200000003);
      }
      .auto-group-fpdk-apz {
        position: absolute;
        left: 25.2679rem;
        top: 52.536rem;
        display: flex;
        align-items: flex-start;
        width: 73.6037rem;
        height: 29.7348rem;

        .atm-software-development-integration-hei {
          font-weight: 800;
          line-height: 1.340909083;
          color: #e8e8e7;
          font-family: Mont, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 17.0022rem;
          max-width: 27.2rem;
          font-size: 4.4002rem;
        }
        .logos-P1k {
          margin-top: 1.2rem;
          width: 29.4015rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-wjbc-Kvz {
            width: calc(100% - 1.5334rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 0rem 5.6rem 1.533rem;

            .restapi-TnJ {
              margin: 0rem 5.067rem 0rem 0rem;
              width: 11.7339rem;
              height: 9.6005rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .iso-PR4 {
              width: 11.0672rem;
              height: 11.0672rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .auto-group-sg2e-jjp {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-right: 1.3334rem;
            width: calc(100% - 1.3334rem);

            .pci-HmL {
              margin: 0rem 4rem 0.067rem 0rem;
              width: 16.4008rem;
              height: 10.8672rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .nexo-zve {
              vertical-align: top;
              flex-shrink: 0;
              width: 7.6671rem;
              height: 11.8673rem;
              object-fit: cover;
            }
          }
        }
      }
    }
    .item-1-iLr {
      flex-direction: column;
      width: 128.0065rem;
      height: 112.2036rem;
      position: absolute;
      left: 0;
      top: 0;
      align-items: center;
      display: flex;

      .auto-group-vvji-4Qi {
        margin-bottom: 0.0104rem;
        box-sizing: border-box;
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        flex-shrink: 0;
        padding: 6.334rem 20.334rem 21.024rem 19.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-position: center;
        background-image: url('REPLACE_IMAGE:ce8e6318ff99238ddaace656d1d2f35d14fa14c2');

        .auto-group-7wdp-WnW {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0rem 19.201rem 0.468rem;
          width: calc(100% - 0.4677rem);
          height: 8.2004rem;
          display: flex;

          .logo-1-SRG {
            width: 15.9341rem;
            height: 8.2004rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-44ee-ZEz {
            box-sizing: border-box;
            padding: 1.067rem 0rem 1.434rem 36.335rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .smallcubes-1-5j8 {
              margin: 3.058rem 0.986rem 0rem 0rem;
              width: 0.6145rem;
              height: 1.0242rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-6dp8-Pzi {
              height: 100%;
              flex-shrink: 0;
              margin-right: 11.2672rem;
              width: 11.1339rem;

              .who-we-are-YMp {
                margin-bottom: 0.3001rem;
                font-weight: 400;
                text-transform: uppercase;
                color: #e8e8e7;
                font-family: Verdana, 'Source Sans Pro';
                width: 100%;
                cursor: pointer;
                font-size: 1.4rem;
                line-height: 1.8810472569;
                white-space: nowrap;
              }
              .services-Si6 {
                text-transform: uppercase;
                color: #f16726;
                font-family: Verdana, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.8810475213;
              }
            }
            .auto-group-flyy-96i {
              width: 11.1339rem;
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .who-we-are-5WA {
                flex-shrink: 0;
                font-size: 1.4rem;
                line-height: 1.8810472569;
                text-transform: uppercase;
                font-weight: 400;
                color: #e8e8e7;
                font-family: Verdana, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 0.3001rem;
                width: 100%;
                cursor: pointer;
              }
              .who-we-are-ksC {
                width: 100%;
                color: #e8e8e7;
                font-weight: 400;
                line-height: 1.8810472569;
                text-transform: uppercase;
                font-family: Verdana, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                cursor: pointer;
                font-size: 1.4rem;
              }
            }
          }
        }
        .atm-direct-1-q7x {
          margin: 0rem 39.201rem 4.765rem 0rem;
          width: 48.4024rem;
          height: 7.8004rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .the-only-atm-provider-you-need-M6J {
          font-size: 4.5rem;
          font-weight: 800;
          line-height: 1.3111774868;
          color: #f16726;
          font-family: Mont, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 50.972rem 8.137rem 0rem;
          max-width: 36.9rem;
        }
        .auto-group-b3wa-D8W {
          margin: 0rem 31.47rem 0rem 0.268rem;
          width: calc(100% - 31.7372rem);
          height: 5.3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .button-voc {
            font-family: Verdana, 'Source Sans Pro';
            flex-shrink: 0;
            cursor: pointer;
            color: #002d3f;
            white-space: nowrap;
            align-items: center;
            background-color: #f16726;
            height: calc(100% - 1.2998rem);
            font-weight: 400;
            display: flex;
            margin: 0.867rem 3.534rem 0.433rem 0rem;
            width: 27.4014rem;
            font-size: 1.8001rem;
            line-height: 1.2575;
            justify-content: center;
          }
          .when-complex-tasks-turn-into-fast-and-easy-solutions-9RU {
            max-width: 25.2rem;
            font-size: 1.8001rem;
            font-weight: 400;
            line-height: 1.4629630159;
            color: #e8e8e7;
            font-family: Verdana, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
      .logos-mhk {
        box-sizing: border-box;
        align-items: center;
        background-position: center;
        background-image: url('REPLACE_IMAGE:d96a1bbec20ca446e27e0f2322bd2b944e1df7f0');
        background-repeat: no-repeat;
        flex-shrink: 0;
        padding: 5.8rem 19.934rem 6.065rem 19.934rem;
        width: 100%;
        display: flex;
        background-size: 100% 100%;

        .logotypes-1-6k2 {
          background-position: -0.044rem -0rem;
          background-image: url('REPLACE_IMAGE:5db445deb5fe3d2bcc5451549d938dd858652e5a');
          flex-shrink: 0;
          margin-right: 11.6673rem;
          width: 9.0671rem;
          height: 7.6671rem;
          position: relative;
          background-size: 973.031% 100%;
        }
        .logotypes-2-o8e {
          position: relative;
          background-size: 553.691% 100%;
          background-position: -20.7784rem -0rem;
          background-image: url('REPLACE_IMAGE:5db445deb5fe3d2bcc5451549d938dd858652e5a');
          flex-shrink: 0;
          margin-right: 11.7339rem;
          width: 15.9341rem;
          height: 7.6671rem;
        }
        .logotypes-3-Jr6 {
          flex-shrink: 0;
          margin-right: 10.0672rem;
          width: 13.2673rem;
          height: 7.6671rem;
          position: relative;
          background-size: 664.986% 100%;
          background-position: -48.4465rem -0rem;
          background-image: url('REPLACE_IMAGE:5db445deb5fe3d2bcc5451549d938dd858652e5a');
        }
        .logotypes-4-2GJ {
          flex-shrink: 0;
          width: 16.4008rem;
          height: 7.6671rem;
          position: relative;
          background-size: 537.936% 100%;
          background-position: -71.781rem -0rem;
          background-image: url('REPLACE_IMAGE:5db445deb5fe3d2bcc5451549d938dd858652e5a');
        }
      }
    }
  }
  .item-8-gbk {
    box-sizing: border-box;
    padding: 6.637rem 20.668rem 8.134rem 19.9rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #e8e8e8;
    flex-shrink: 0;

    .compliance-partners-1P8 {
      max-width: 22.5rem;
      font-size: 4.1rem;
      font-weight: 800;
      line-height: 1.3999999442;
      color: #002d3f;
      font-family: Mont, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 12.469rem 16.198rem 0rem;
    }
    .dertificate-GK4 {
      vertical-align: top;
      flex-shrink: 0;
      margin: 1.63rem 5.267rem 0rem 0rem;
      width: 18.2009rem;
      height: 26.068rem;
      object-fit: cover;
    }
    .auto-group-yfpg-aKk {
      flex-shrink: 0;
      margin: 0rem 1.067rem 7.57rem 0rem;
      display: flex;
      flex-direction: column;

      .kal-7Kg {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 4.9336rem;
        width: 9.8005rem;
        height: 6.7337rem;
      }
      .pcidss-rYA {
        width: 13.534rem;
        height: 5.2003rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-nq1g-oCW {
      margin-bottom: 8.2371rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .visamaster-X8W {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 4.3335rem;
        width: 14.4007rem;
        height: 7.0004rem;
        object-fit: cover;
      }
      .atmia-Tnr {
        width: 11.0672rem;
        height: 4.8669rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .item-7-n4S {
    background-image: url('REPLACE_IMAGE:eb7d5b71ef704277ef7c0a830561bd1dc405af48');
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-position: center;
    box-sizing: border-box;
    padding: 6.067rem 18.102rem 1.163rem 19.934rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .auto-group-l7qc-6qp {
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 3.3336rem;

      .contact-us--TAa {
        color: #f16726;
        font-family: Verdana, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 19.202rem 1.8rem 0rem;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 1.52;
      }
      .auto-group-lrgz-yei {
        position: relative;
        flex-shrink: 0;
        margin: 1rem 14.467rem 0rem 0rem;
        width: 18.0009rem;
        height: 4.6002rem;

        .who-we-are-gp2 {
          width: 18.0009rem;
          position: absolute;
          top: 2.0001rem;
          line-height: 1.5200000104;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.6001rem;
          cursor: pointer;
          left: 0;
          font-size: 1.4667rem;
          font-weight: 400;
        }
        .corporate-office-372-602-7022-PyL {
          font-weight: 400;
          line-height: 1.5199999128;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          height: 2.2rem;
          left: 0;
          top: 0;
          font-size: 1.4rem;
          width: 17.9rem;
          position: absolute;
          white-space: nowrap;
        }
      }
      .harju-maakond-tallinn-lasname-linnaosa-katusepapi-tn-6-502-11412-xQA {
        margin-top: 0.6998rem;
        max-width: 25.9rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5199999128;
        color: #e8e8e7;
        font-family: Verdana, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .auto-group-cm94-Sq8 {
      margin: 0rem 3.166rem 8.734rem 0rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .vector-smart-object-yaA {
        margin: 0rem 1.889rem 0.133rem 0rem;
        width: 4.4447rem;
        height: 3.3335rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .nl-office-31-6-2745-6998-W4J {
        margin: 0.466rem 9.401rem 0rem 0rem;
        font-weight: 400;
        line-height: 1.5199999128;
        color: #e8e8e7;
        flex-shrink: 0;
        font-size: 1.4rem;
        font-family: Verdana, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: baseline;

        .nl-office-31-6-2745-6998-W4J-sub-0 {
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.5199999128;
        }
        .nl-office-31-6-2745-6998-W4J-sub-1 {
        }
      }
      .vector-smart-object-copy-4-Zwg {
        width: 4.4724rem;
        height: 3.3335rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.861rem 0.133rem 0rem;
      }
      .uk-office-44-7950-449188-tDG {
        color: #e8e8e7;
        align-items: baseline;
        flex-shrink: 0;
        margin: 0.466rem 10.468rem 0rem 0rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5199999128;
        font-family: Verdana, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;

        .uk-office-44-7950-449188-tDG-sub-0 {
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.5199999128;
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
        }
        .uk-office-44-7950-449188-tDG-sub-1 {
        }
      }
      .vector-smart-object-copy-5-Tfg {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.133rem 1.867rem 0rem 0rem;
        width: 4.4669rem;
        height: 3.3335rem;
        object-fit: cover;
      }
      .ua-office-38-093-441-0774-818 {
        margin-top: 0.4663rem;
        font-family: Verdana, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5199999128;
        color: #e8e8e7;
        display: flex;
        align-items: baseline;
        flex-shrink: 0;

        .ua-office-38-093-441-0774-818-sub-0 {
          color: #e8e8e7;
          font-family: Verdana, 'Source Sans Pro';
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 1.5199999128;
        }
        .ua-office-38-093-441-0774-818-sub-1 {
        }
      }
    }
    .copyright-2023-atm-direct-o-all-rights-reserved-fQN {
      margin-right: 9.9005rem;
      font-size: 1.1rem;
      color: #000000;
      white-space: nowrap;
      align-items: baseline;
      font-weight: 700;
      line-height: 1.5199999376;
      font-family: Verdana, 'Source Sans Pro';
      display: flex;
      flex-shrink: 0;

      .copyright-2023-atm-direct-o-all-rights-reserved-fQN-sub-0 {
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.5199999376;
        color: #000000;
        font-family: Verdana, 'Source Sans Pro';
      }
      .copyright-2023-atm-direct-o-all-rights-reserved-fQN-sub-1 {
        color: #000000;
        font-family: Verdana, 'Source Sans Pro';
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 1.5199999376;
      }
      .copyright-2023-atm-direct-o-all-rights-reserved-fQN-sub-2 {
        line-height: 1.5199999376;
        color: #000000;
        font-family: Verdana, 'Source Sans Pro';
        font-size: 1.1rem;
        font-weight: 400;
      }
    }
  }
}
