
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.ecexatmdirect19201-i9x {
  box-sizing: border-box;
  padding-bottom: 0.0063rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 {
  width: 100%;
  height: 503.8rem;
  position: relative;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-3-KfY {
  box-sizing: border-box;
  padding: 25.7rem 30.5rem 13.3rem 30.2rem;
  width: 192rem;
  height: 210.2rem;
  position: absolute;
  left: 0;
  top: 293.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100.036%;
  background-position: 0 -0rem;
  background-image: url('../assets/bg-1-bg-TcW.png');
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-3-KfY .auto-group-dqwg-RCn {
  margin: 0rem 15.3rem 8.5rem 0rem;
  height: 29.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-3-KfY .auto-group-dqwg-RCn .logo-3-wS2 {
  margin: 2.4rem 6.1rem 0rem 0rem;
  width: 23.8rem;
  height: 12.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-3-KfY .auto-group-dqwg-RCn .bubble-T9U {
  margin-right: 7rem;
  width: 28rem;
  height: 29.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-3-KfY .auto-group-dqwg-RCn .auto-group-9nrq-xc2 {
  margin: 1.7rem 0rem 2.2rem 0rem;
  height: calc(100% - 3.9rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-3-KfY .auto-group-dqwg-RCn .auto-group-9nrq-xc2 .atm-management-system-S1Q {
  margin: 0rem 0rem 2.2rem 0.3rem;
  max-width: 50.6rem;
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 1.3999999762;
  color: #002d3f;
  font-family: Mont, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-3-KfY .auto-group-dqwg-RCn .auto-group-9nrq-xc2 .cloud-instantly-available-6bk {
  font-size: 3.7rem;
  font-weight: 800;
  line-height: 1.3800000371;
  color: #002d3f;
  font-family: Mont, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-3-KfY .auto-group-v5kp-bYW {
  width: 100%;
  height: 133.4rem;
  position: relative;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-3-KfY .auto-group-v5kp-bYW .photocomputer-1-Lkz {
  width: 131.3rem;
  height: 79.9rem;
  position: absolute;
  left: 0;
  top: 53.5rem;
  object-fit: cover;
  vertical-align: top;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-3-KfY .auto-group-v5kp-bYW .biggreenframe-1-GuY {
  width: 131.3rem;
  height: 58.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-3-KfY .auto-group-v5kp-bYW .all-in-one-atm-operations-monitoring--282 {
  width: 63.6rem;
  height: 4.8rem;
  position: absolute;
  left: 8.5rem;
  top: 7.9rem;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-3-KfY .auto-group-v5kp-bYW .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-rsk {
  width: 44.1rem;
  height: 18.8rem;
  position: absolute;
  left: 16.6rem;
  top: 18.2rem;
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.3303319146;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-3-KfY .auto-group-v5kp-bYW .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-rsk .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-rsk-sub-0 {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.3764900932;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-3-KfY .auto-group-v5kp-bYW .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-rsk .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-rsk-sub-1 {
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.3764900932;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-3-KfY .auto-group-v5kp-bYW .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-pbc {
  width: 36.7rem;
  height: 27.2rem;
  position: absolute;
  left: 77.6rem;
  top: 18.2rem;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.3303320268;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-3-KfY .auto-group-v5kp-bYW .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-pbc .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-pbc-sub-0 {
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-3-KfY .auto-group-v5kp-bYW .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-pbc .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-pbc-sub-1 {
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.3303320268;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-3-KfY .auto-group-v5kp-bYW .line-1-eyx {
  width: 0.2rem;
  height: 29.9rem;
  position: absolute;
  left: 63.3rem;
  top: 19.6rem;
  background-color: rgba(255, 255, 255, 0.200000003);
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-3-KfY .auto-group-v5kp-bYW .item-2-1-MdU {
  width: 3.7rem;
  height: 6.2rem;
  position: absolute;
  left: 69.8rem;
  top: 19.6rem;
  object-fit: cover;
  vertical-align: top;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-3-KfY .auto-group-v5kp-bYW .item-2-2-Ui6 {
  width: 3.7rem;
  height: 6.2rem;
  position: absolute;
  left: 8.8rem;
  top: 19.6rem;
  object-fit: cover;
  vertical-align: top;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-3-KfY .item-3-KfY-bg {
  width: 192rem;
  height: 210.2rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:593db44ac56e3c05d3c6d775284a209f23961dda');
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-2-9ZL {
  width: 192rem;
  height: 145.2656rem;
  position: absolute;
  left: 0;
  top: 168.2rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/bg2-1-bg-d6z.png');
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-2-9ZL .auto-group-qutg-HfY {
  width: 119.7rem;
  height: 35.2rem;
  position: absolute;
  left: 30.3rem;
  top: 11.9rem;
  display: flex;
  align-items: flex-start;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-2-9ZL .auto-group-qutg-HfY .logo-2-27L {
  margin-right: 48rem;
  width: 23.9rem;
  height: 12.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-2-9ZL .auto-group-qutg-HfY .we-run-an-in-house-delivery-of-new-atm-software-from-new-transaction-types-to-reporting-or-advanced-security-software-development-and-deployment-per-pci-requirements-7Pg {
  margin-top: 7.6rem;
  max-width: 47.8rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.4375;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-2-9ZL .auto-group-6qlv-A74 {
  width: 36.4rem;
  height: 4.6rem;
  position: absolute;
  left: 102.6rem;
  top: 52rem;
  display: flex;
  align-items: center;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-2-9ZL .auto-group-6qlv-A74 .rectangle-2-6WW {
  margin: 0.4rem 2.7rem 0rem 0rem;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #174456;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-2-9ZL .auto-group-6qlv-A74 .multivendor-multihost-phQ {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.4375;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-2-9ZL .auto-group-qn1g-ND8 {
  width: 37.5rem;
  height: 4.6rem;
  position: absolute;
  left: 102.6rem;
  top: 59.2rem;
  display: flex;
  align-items: center;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-2-9ZL .auto-group-qn1g-ND8 .rectangle-3-GJW {
  margin: 0.2rem 2.7rem 0rem 0rem;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #174456;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-2-9ZL .auto-group-qn1g-ND8 .multiprotocol-solutions-CCA {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.4375;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-2-9ZL .line-1-gNE {
  width: 51.5rem;
  height: 0.2rem;
  position: absolute;
  left: 102.7rem;
  top: 58.2rem;
  background-color: rgba(255, 255, 255, 0.200000003);
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-2-9ZL .auto-group-3xdk-1vJ {
  width: 110.4rem;
  height: 44.6rem;
  position: absolute;
  left: 37.9rem;
  top: 78.8rem;
  display: flex;
  align-items: flex-start;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-2-9ZL .auto-group-3xdk-1vJ .atm-software-development-integration-YvE {
  margin-right: 21rem;
  max-width: 45.3rem;
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 1.3409090909;
  color: #e8e8e7;
  font-family: Mont, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-2-9ZL .auto-group-3xdk-1vJ .logos-5QN {
  margin-top: 1.8rem;
  width: 44.1rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-2-9ZL .auto-group-3xdk-1vJ .logos-5QN .auto-group-eedx-psk {
  margin: 0rem 0rem 8.4rem 2.3rem;
  width: calc(100% - 2.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-2-9ZL .auto-group-3xdk-1vJ .logos-5QN .auto-group-eedx-psk .restapi-xj4 {
  margin-right: 7.6rem;
  width: 17.6rem;
  height: 14.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-2-9ZL .auto-group-3xdk-1vJ .logos-5QN .auto-group-eedx-psk .iso-ebt {
  width: 16.6rem;
  height: 16.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-2-9ZL .auto-group-3xdk-1vJ .logos-5QN .auto-group-ryrs-oDt {
  margin-right: 2rem;
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-2-9ZL .auto-group-3xdk-1vJ .logos-5QN .auto-group-ryrs-oDt .pci-kQ2 {
  margin: 0rem 6rem 0.1rem 0rem;
  width: 24.6rem;
  height: 16.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-2-9ZL .auto-group-3xdk-1vJ .logos-5QN .auto-group-ryrs-oDt .nexo-rhx {
  width: 11.5rem;
  height: 17.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-1-adx {
  width: 192rem;
  height: 168.2969rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-1-adx .auto-group-tvhp-8Qa {
  margin-bottom: 0.0156rem;
  box-sizing: border-box;
  padding: 9.5rem 30.5rem 31.584rem 29.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/big-cubes-1-bg-JE6.png');
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-1-adx .auto-group-tvhp-8Qa .auto-group-mzya-1DU {
  margin: 0rem 0rem 28.8rem 0.5rem;
  width: calc(100% - 0.5rem);
  height: 12.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-1-adx .auto-group-tvhp-8Qa .auto-group-mzya-1DU .logo-1-Xhc {
  width: 23.9rem;
  height: 12.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-1-adx .auto-group-tvhp-8Qa .auto-group-mzya-1DU .auto-group-txwp-tHG {
  box-sizing: border-box;
  padding: 1.6rem 0rem 2.2rem 54.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-1-adx .auto-group-tvhp-8Qa .auto-group-mzya-1DU .auto-group-txwp-tHG .smallcubes-1-RY6 {
  margin: 4.636rem 1.478rem 0rem 0rem;
  width: 0.9217rem;
  height: 1.5362rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-1-adx .auto-group-tvhp-8Qa .auto-group-mzya-1DU .auto-group-txwp-tHG .auto-group-aidg-MAr {
  margin-right: 16.9rem;
  width: 16.7rem;
  height: 100%;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-1-adx .auto-group-tvhp-8Qa .auto-group-mzya-1DU .auto-group-txwp-tHG .auto-group-aidg-MAr .who-we-are-hVc {
  margin-bottom: 0.5rem;
  width: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.975;
  text-transform: uppercase;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-1-adx .auto-group-tvhp-8Qa .auto-group-mzya-1DU .auto-group-txwp-tHG .auto-group-aidg-MAr .services-Bfg {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.975;
  text-transform: uppercase;
  color: #f16726;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-1-adx .auto-group-tvhp-8Qa .auto-group-mzya-1DU .auto-group-txwp-tHG .auto-group-q3mk-vNN {
  width: 16.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-1-adx .auto-group-tvhp-8Qa .auto-group-mzya-1DU .auto-group-txwp-tHG .auto-group-q3mk-vNN .who-we-are-Gx2 {
  margin-bottom: 0.5rem;
  width: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.975;
  text-transform: uppercase;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-1-adx .auto-group-tvhp-8Qa .auto-group-mzya-1DU .auto-group-txwp-tHG .auto-group-q3mk-vNN .who-we-are-A1p {
  width: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.975;
  text-transform: uppercase;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-1-adx .auto-group-tvhp-8Qa .atm-direct-1-rvE {
  margin: 0rem 59rem 7.6rem 0rem;
  width: 72.6rem;
  height: 11.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-1-adx .auto-group-tvhp-8Qa .the-only-atm-provider-you-need-Bhc {
  margin: 0rem 75.9rem 12.7rem 0rem;
  max-width: 55.7rem;
  font-size: 6.8rem;
  font-weight: 800;
  line-height: 1.2373582055;
  color: #f16726;
  font-family: Mont, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-1-adx .auto-group-tvhp-8Qa .auto-group-r5rr-ajk {
  margin: 0rem 47.3rem 0rem 0.2rem;
  width: calc(100% - 47.5rem);
  height: 7.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-1-adx .auto-group-tvhp-8Qa .auto-group-r5rr-ajk .button-Vri {
  margin: 1.3rem 5.3rem 0.6rem 0rem;
  width: 41.1rem;
  height: calc(100% - 1.9rem);
  cursor: pointer;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #002d3f;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f16726;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-1-adx .auto-group-tvhp-8Qa .auto-group-r5rr-ajk .when-complex-tasks-turn-into-fast-and-easy-solutions-ymt {
  max-width: 37.7rem;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.462962963;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-1-adx .logos-54E {
  box-sizing: border-box;
  padding: 8.7rem 29.9rem 9.097rem 29.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/bglogos-1-bg-iz6.png');
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-1-adx .logos-54E .logotypes-1-aFt {
  margin-right: 17.5rem;
  width: 13.6rem;
  height: 11.5rem;
  position: relative;
  background-size: 973.031% 100%;
  background-position: -0.0661rem 0;
  background-image: url('../assets/logotypes-1-S2n.png');
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-1-adx .logos-54E .logotypes-2-U6N {
  margin-right: 17.6rem;
  width: 23.9rem;
  height: 11.5rem;
  position: relative;
  background-size: 553.691% 100%;
  background-position: -31.1661rem 0;
  background-image: url('../assets/logotypes-2-t9x.png');
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-1-adx .logos-54E .logotypes-3-VnA {
  margin-right: 15.1rem;
  width: 19.9rem;
  height: 11.5rem;
  position: relative;
  background-size: 664.986% 100%;
  background-position: -72.6661rem 0;
  background-image: url('../assets/logotypes-3-W6e.png');
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-rr6r-aT4 .item-1-adx .logos-54E .logotypes-4-PMk {
  width: 24.6rem;
  height: 11.5rem;
  position: relative;
  background-size: 537.936% 100%;
  background-position: -107.6661rem 0;
  background-image: url('../assets/logotypes-4-uke.png');
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS {
  width: 192.1rem;
  height: 376.6rem;
  position: relative;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-6-mNJ {
  box-sizing: border-box;
  padding: 11.1rem 46rem 7.8rem 29.2rem;
  width: 192rem;
  height: 85.5rem;
  position: absolute;
  left: 0;
  top: 291.1rem;
  display: flex;
  align-items: center;
  background-size: 100% 100.439%;
  background-position: 0 -0.2rem;
  background-image: url('../assets/bg-1-bg-5AJ.png');
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-6-mNJ .reference-projects-GK4 {
  margin: 0rem 29rem 48.9rem 0rem;
  max-width: 29.7rem;
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 1.3409090909;
  color: #e8e8e7;
  font-family: Mont, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-6-mNJ .auto-group-rb4e-AvE {
  margin: 0rem 3.3rem 11.5rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-6-mNJ .auto-group-rb4e-AvE .item-1-ucv {
  margin-bottom: 28.8596rem;
  width: 3.6rem;
  height: 3.6404rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-6-mNJ .auto-group-rb4e-AvE .item-3-1vr {
  margin-bottom: 9.9596rem;
  width: 3.6rem;
  height: 3.6404rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-6-mNJ .auto-group-rb4e-AvE .item-2-A34 {
  width: 3.6rem;
  height: 3.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-6-mNJ .auto-group-3vle-5vi {
  margin-top: 2rem;
  width: 51.2rem;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-6-mNJ .auto-group-3vle-5vi .auto-group-vpgw-dSS {
  margin-bottom: 4.8rem;
  width: 100%;
  height: 41.7rem;
  position: relative;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-6-mNJ .auto-group-3vle-5vi .auto-group-vpgw-dSS .top-bank-in-ukraine-multivendor-multi-hostmultiprotocol-solution-cloud-terminal-management-Nev {
  width: 36.6rem;
  height: 32rem;
  position: absolute;
  left: 0;
  top: 9.4rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5199999491;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-6-mNJ .auto-group-3vle-5vi .auto-group-vpgw-dSS .iad--ecS {
  width: 6.1rem;
  height: 4.6rem;
  position: absolute;
  left: 0.8rem;
  top: 32.8rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5199999491;
  color: #1ab479;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-6-mNJ .auto-group-3vle-5vi .auto-group-vpgw-dSS .eu-uk-bins-multivendor-nexo-protocol-v4A {
  width: 50rem;
  height: 4.6rem;
  position: absolute;
  left: 1.2rem;
  top: 37.1rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5199999491;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-6-mNJ .auto-group-3vle-5vi .auto-group-vpgw-dSS .ukraine--C1g {
  width: 12.3rem;
  height: 5.4rem;
  position: absolute;
  left: 0.9rem;
  top: 4.5rem;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.5200000218;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-6-mNJ .auto-group-3vle-5vi .auto-group-vpgw-dSS .banking--K6J {
  width: 13.6rem;
  height: 4.8rem;
  position: absolute;
  left: 1rem;
  top: 0;
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 1.5199999655;
  text-transform: uppercase;
  color: #f16726;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-6-mNJ .auto-group-3vle-5vi .auto-group-zuer-qKY {
  width: 40.8rem;
  height: 18.1rem;
  position: relative;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-6-mNJ .auto-group-3vle-5vi .auto-group-zuer-qKY .crypto--b3p {
  width: 11.3rem;
  height: 4.6rem;
  position: absolute;
  left: 0.8rem;
  top: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5199999491;
  text-transform: uppercase;
  color: #376eb4;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-6-mNJ .auto-group-3vle-5vi .auto-group-zuer-qKY .qr-based-deposits-withdrawals-token-issuer-integration-ieE {
  width: 40.8rem;
  height: 13.7rem;
  position: absolute;
  left: 0;
  top: 4.4rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5199999491;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-6-mNJ .item-6-mNJ-bg {
  width: 192rem;
  height: 85.5rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:29c1d9f5d08d570b252a322956d55ef952dc1441');
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-5-vkJ {
  width: 192.1rem;
  height: 165.6rem;
  position: absolute;
  left: 0;
  top: 125.6rem;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-5-vkJ .bg-eAW {
  width: 191.9rem;
  height: 165.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-5-vkJ .bg-Bw8 {
  width: 192.1rem;
  height: 165.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-5-vkJ .additional-services-jxe {
  width: 30.1rem;
  height: 18rem;
  position: absolute;
  left: 95.5rem;
  top: 17.8rem;
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 1.3999999762;
  color: #002d3f;
  font-family: Mont, 'Source Sans Pro';
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-5-vkJ .logo-4-rGa {
  width: 23.8rem;
  height: 12.2rem;
  position: absolute;
  left: 30.3rem;
  top: 17.8rem;
  object-fit: cover;
  vertical-align: top;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-5-vkJ .bubble1-YfC {
  width: 27.6rem;
  height: 29rem;
  position: absolute;
  left: 138.3rem;
  top: 14.1rem;
  object-fit: cover;
  vertical-align: top;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-5-vkJ .frames-h2J {
  width: 131.1rem;
  height: 108.6rem;
  position: absolute;
  left: 30.2rem;
  top: 41.9rem;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-5-vkJ .frames-h2J .colorframes1-DWS {
  width: 65.6rem;
  height: 22rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 199.848% 493.764%;
  background-position: 0 -0.014rem;
  background-image: url('../assets/colorframes1-uxe.png');
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-5-vkJ .frames-h2J .colorframes2-jDt {
  width: 65.7rem;
  height: 22.1rem;
  position: relative;
  left: 0;
  top: 43.3rem;
  background-size: 199.543% 491.53%;
  background-position: 0 -43.314rem;
  background-image: url('../assets/colorframes2-eHY.png');
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-5-vkJ .frames-h2J .colorframes3-SPC {
  width: 65.7rem;
  height: 21.9rem;
  position: relative;
  left: 0;
  top: 86.7rem;
  background-size: 199.543% 496.018%;
  background-position: 0 -86.714rem;
  background-image: url('../assets/colorframes3-TiA.png');
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-5-vkJ .frames-h2J .colorframes4-ken {
  width: 65.8rem;
  height: 22.2rem;
  position: relative;
  left: 65.3rem;
  top: 21.4rem;
  background-size: 199.24% 489.316%;
  background-position: -65.3rem -21.414rem;
  background-image: url('../assets/colorframes4-APk.png');
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-5-vkJ .frames-h2J .colorframes5-f14 {
  width: 65.7rem;
  height: 22rem;
  position: relative;
  left: 65.4rem;
  top: 65rem;
  background-size: 199.543% 493.764%;
  background-position: -65.4rem -65.014rem;
  background-image: url('../assets/colorframes5-HHt.png');
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-5-vkJ .frames-h2J .hw-distribution-wjG {
  width: 27.8rem;
  height: 6.1rem;
  position: absolute;
  left: 14.4rem;
  top: 7.4rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5199999809;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-5-vkJ .frames-h2J .cash-management-qpe {
  width: 32.7rem;
  height: 6.1rem;
  position: absolute;
  left: 76.7rem;
  top: 28.8rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5199999809;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-5-vkJ .frames-h2J .extended-functionality-ZVk {
  width: 40.2rem;
  height: 6.1rem;
  position: absolute;
  left: 6.9rem;
  top: 50.7rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5199999809;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-5-vkJ .frames-h2J .other-upon-request-5U6 {
  width: 34.4rem;
  height: 6.1rem;
  position: absolute;
  left: 9.5rem;
  top: 94rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5199999809;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-5-vkJ .frames-h2J .telecom-solutions-NCJ {
  width: 31.8rem;
  height: 6.1rem;
  position: absolute;
  left: 78.9rem;
  top: 72.3rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5199999809;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt {
  box-sizing: border-box;
  padding: 12.3rem 37.8rem 17.125rem 29.2rem;
  width: 192rem;
  height: 135.5248rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100.305%;
  background-position: 0 -0.4064rem;
  background-image: url('../assets/bg-1-bg-pCS.png');
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt .auto-group-vmht-HyU {
  margin-bottom: 4.3rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt .auto-group-vmht-HyU .auto-group-xf8n-3hk {
  margin-right: 38.2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt .auto-group-vmht-HyU .auto-group-xf8n-3hk .logo-3-oS2 {
  margin: 0rem 0rem 10.5rem 1.1rem;
  width: 23.9rem;
  height: 12.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt .auto-group-vmht-HyU .auto-group-xf8n-3hk .rapid-atm-deployment-tyG {
  max-width: 35.3rem;
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 1.3828125;
  color: #e8e8e7;
  font-family: Mont, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt .auto-group-vmht-HyU .auto-group-nz5x-2Zg {
  margin-top: 11.4rem;
  width: 51.5rem;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt .auto-group-vmht-HyU .auto-group-nz5x-2Zg .auto-group-etx2-Aft {
  margin: 0rem 15.5rem 5.4rem 0rem;
  width: calc(100% - 15.5rem);
  display: flex;
  align-items: flex-end;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt .auto-group-vmht-HyU .auto-group-nz5x-2Zg .auto-group-etx2-Aft .icons-1-hfp {
  margin-right: 5.4rem;
  width: 10.5rem;
  height: 11.5rem;
  position: relative;
  background-size: 100.386% 780.87%;
  background-position: -0.0202rem -0rem;
  background-image: url('../assets/icons-1-gok.png');
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt .auto-group-vmht-HyU .auto-group-nz5x-2Zg .auto-group-etx2-Aft .atm-operations-bWJ {
  margin-bottom: 0.8rem;
  max-width: 20.1rem;
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 1.5199999558;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt .auto-group-vmht-HyU .auto-group-nz5x-2Zg .line-2-j6i {
  margin-bottom: 6.1rem;
  width: 100%;
  height: 0.2rem;
  background-color: rgba(255, 255, 255, 0.200000003);
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt .auto-group-vmht-HyU .auto-group-nz5x-2Zg .auto-group-xrbg-eUa {
  margin: 0rem 4.8rem 0rem 0.2rem;
  width: calc(100% - 5rem);
  display: flex;
  align-items: center;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt .auto-group-vmht-HyU .auto-group-nz5x-2Zg .auto-group-xrbg-eUa .icons-2-xVG {
  margin-right: 5.2rem;
  width: 10.5rem;
  height: 11rem;
  position: relative;
  background-size: 100.386% 816.364%;
  background-position: -0.0202rem -26.4rem;
  background-image: url('../assets/icons-2-Dqt.png');
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt .auto-group-vmht-HyU .auto-group-nz5x-2Zg .auto-group-xrbg-eUa .software-development-and-integrations-3Wi {
  max-width: 30.8rem;
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 1.5199999558;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt .line-3-kR8 {
  margin: 0rem 0rem 4.2rem 73.5rem;
  width: 51.5rem;
  height: 0.2rem;
  background-color: rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt .auto-group-7qot-4wc {
  margin: 0rem 10.5rem 4.4rem 73.7rem;
  width: calc(100% - 84.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt .auto-group-7qot-4wc .icons-3-aQA {
  margin: 0rem 5.2rem 0.4rem 0rem;
  width: 10.5rem;
  height: 11.4rem;
  position: relative;
  background-size: 100.386% 787.719%;
  background-position: -0.0202rem -52.1rem;
  background-image: url('../assets/icons-3-tQA.png');
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt .auto-group-7qot-4wc .advanced-monitoring-and-reporting-fAi {
  max-width: 25.1rem;
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 1.5199999558;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt .line-4-nFL {
  margin: 0rem 0rem 4.4rem 73.5rem;
  width: 51.5rem;
  height: 0.2rem;
  background-color: rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt .auto-group-gyqj-Wh8 {
  margin: 0rem 2.1rem 0rem 1.7rem;
  width: calc(100% - 3.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt .auto-group-gyqj-Wh8 .flagx-1-qjQ {
  margin: 10.2rem 37.2rem 0rem 0rem;
  width: 34.8rem;
  height: 7.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt .auto-group-gyqj-Wh8 .icons-4-y4v {
  margin: 0rem 5.2rem 0.9rem 0rem;
  width: 10.5rem;
  height: 11rem;
  position: relative;
  background-size: 100.386% 816.364%;
  background-position: -0.0202rem -78.8rem;
  background-image: url('../assets/icons-4-zHY.png');
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt .auto-group-gyqj-Wh8 .instant-connection-to-card-schemes-TEz {
  margin-bottom: 6.5rem;
  max-width: 33.5rem;
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 1.5199999558;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .auto-group-yxkn-RJS .item-4-Fmt .item-4-Fmt-bg {
  width: 192rem;
  height: 135.5248rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:3a81c947afb99dd5c6fb8d721a39edcc217837c7');
}
.ecexatmdirect19201-i9x .item-8-2xJ {
  box-sizing: border-box;
  padding: 9.9rem 31rem 12.2rem 29.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #e8e8e8;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .item-8-2xJ .compliance-partners-xLA {
  margin: 0rem 11.7rem 23.6rem 0rem;
  max-width: 40.7rem;
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 1.3999999762;
  color: #002d3f;
  font-family: Mont, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .item-8-2xJ .dertificate-Gbk {
  margin: 2.5rem 7.9rem 0rem 0rem;
  width: 27.3rem;
  height: 39.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .item-8-2xJ .auto-group-bozs-QCA {
  margin: 0rem 1.6rem 11.3rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .item-8-2xJ .auto-group-bozs-QCA .kal-iCr {
  margin-bottom: 7.4rem;
  width: 14.7rem;
  height: 10.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .item-8-2xJ .auto-group-bozs-QCA .pcidss-FyU {
  width: 20.3rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .item-8-2xJ .auto-group-mmwa-QbU {
  margin-bottom: 12.3rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .item-8-2xJ .auto-group-mmwa-QbU .visamaster-mB8 {
  margin-bottom: 6.5rem;
  width: 21.6rem;
  height: 10.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .item-8-2xJ .auto-group-mmwa-QbU .atmia-Jwk {
  width: 16.6rem;
  height: 7.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .item-7-dj8 {
  box-sizing: border-box;
  padding: 9.1rem 24.9rem 1.794rem 29.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/back-bg-6gJ.png');
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .item-7-dj8 .auto-group-96mg-y2J {
  margin-bottom: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .item-7-dj8 .auto-group-96mg-y2J .contact-us--6sc {
  margin: 0rem 28.5rem 2.6rem 0rem;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.5199999558;
  color: #f16726;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .item-7-dj8 .auto-group-96mg-y2J .auto-group-gd6j-dMk {
  margin: 1.5rem 20.6rem 0rem 0rem;
  width: 28.1rem;
  height: 6.9rem;
  position: relative;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .item-7-dj8 .auto-group-96mg-y2J .auto-group-gd6j-dMk .who-we-are-xev {
  width: 27rem;
  height: 3.9rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 3rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5199999376;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect19201-i9x .item-7-dj8 .auto-group-96mg-y2J .auto-group-gd6j-dMk .corporate-office-372-602-7022-g58 {
  width: 28.1rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5199999376;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect19201-i9x .item-7-dj8 .auto-group-96mg-y2J .harju-maakond-tallinn-lasname-linnaosa-katusepapi-tn-6-502-11412-MSA {
  margin-top: 1.3rem;
  max-width: 41.1rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5199999376;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .item-7-dj8 .auto-group-qkjp-cN6 {
  margin: 0rem 5.8rem 13.1rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .item-7-dj8 .auto-group-qkjp-cN6 .vector-smart-object-8rE {
  margin: 0rem 2.833rem 0.2rem 0rem;
  width: 6.6667rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .item-7-dj8 .auto-group-qkjp-cN6 .nl-office-31-6-2745-6998-epa {
  margin: 0.8rem 13.1rem 0rem 0rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5199999376;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .item-7-dj8 .auto-group-qkjp-cN6 .nl-office-31-6-2745-6998-epa .nl-office-31-6-2745-6998-epa-sub-0 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.5199999376;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect19201-i9x .item-7-dj8 .auto-group-qkjp-cN6 .nl-office-31-6-2745-6998-epa .nl-office-31-6-2745-6998-epa-sub-1 {
}
.ecexatmdirect19201-i9x .item-7-dj8 .auto-group-qkjp-cN6 .vector-smart-object-copy-4-oL6 {
  margin: 0rem 2.792rem 0.2rem 0rem;
  width: 6.7083rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .item-7-dj8 .auto-group-qkjp-cN6 .uk-office-44-7950-449188-Vii {
  margin: 0.8rem 14.5rem 0rem 0rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5199999376;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .item-7-dj8 .auto-group-qkjp-cN6 .uk-office-44-7950-449188-Vii .uk-office-44-7950-449188-Vii-sub-0 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.5199999376;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect19201-i9x .item-7-dj8 .auto-group-qkjp-cN6 .uk-office-44-7950-449188-Vii .uk-office-44-7950-449188-Vii-sub-1 {
}
.ecexatmdirect19201-i9x .item-7-dj8 .auto-group-qkjp-cN6 .vector-smart-object-copy-5-FrJ {
  margin: 0.2rem 2.8rem 0rem 0rem;
  width: 6.7rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .item-7-dj8 .auto-group-qkjp-cN6 .ua-office-38-093-441-0774-Nvv {
  margin-top: 0.8rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5199999376;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .item-7-dj8 .auto-group-qkjp-cN6 .ua-office-38-093-441-0774-Nvv .ua-office-38-093-441-0774-Nvv-sub-0 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.5199999376;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect19201-i9x .item-7-dj8 .auto-group-qkjp-cN6 .ua-office-38-093-441-0774-Nvv .ua-office-38-093-441-0774-Nvv-sub-1 {
}
.ecexatmdirect19201-i9x .item-7-dj8 .copyright-2023-atm-direct-o-all-rights-reserved-oWS {
  margin-right: 17.8rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5199999809;
  color: #000000;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.ecexatmdirect19201-i9x .item-7-dj8 .copyright-2023-atm-direct-o-all-rights-reserved-oWS .copyright-2023-atm-direct-o-all-rights-reserved-oWS-sub-0 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5199999809;
  color: #000000;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect19201-i9x .item-7-dj8 .copyright-2023-atm-direct-o-all-rights-reserved-oWS .copyright-2023-atm-direct-o-all-rights-reserved-oWS-sub-1 {
}
.ecexatmdirect19201-i9x .item-7-dj8 .copyright-2023-atm-direct-o-all-rights-reserved-oWS .copyright-2023-atm-direct-o-all-rights-reserved-oWS-sub-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5199999809;
  color: #000000;
  font-family: Verdana, 'Source Sans Pro';
}
