
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.ecexatmdirect1920-XFG {
  box-sizing: border-box;
  padding-bottom: 0.0063rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg {
  width: 100%;
  height: 503.8rem;
  position: relative;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-3-iqY {
  box-sizing: border-box;
  padding: 25.7rem 30.5rem 13.3rem 30.2rem;
  width: 192rem;
  height: 210.2rem;
  position: absolute;
  left: 0;
  top: 293.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100.036%;
  background-position: 0 -0rem;
  background-image: url('../assets/bg-1-bg-duk.png');
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-3-iqY .auto-group-bsqr-naW {
  margin: 0rem 15.3rem 8.5rem 0rem;
  height: 29.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-3-iqY .auto-group-bsqr-naW .logo-3-tdY {
  margin: 2.4rem 6.1rem 0rem 0rem;
  width: 23.8rem;
  height: 12.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-3-iqY .auto-group-bsqr-naW .bubble-LEe {
  margin-right: 7rem;
  width: 28rem;
  height: 29.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-3-iqY .auto-group-bsqr-naW .auto-group-snjw-F6i {
  margin: 1.7rem 0rem 2.2rem 0rem;
  height: calc(100% - 3.9rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-3-iqY .auto-group-bsqr-naW .auto-group-snjw-F6i .atm-management-system-Zt6 {
  margin: 0rem 0rem 2.2rem 0.3rem;
  max-width: 50.6rem;
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 1.3999999762;
  color: #002d3f;
  font-family: Mont, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-3-iqY .auto-group-bsqr-naW .auto-group-snjw-F6i .cloud-instantly-available-rcJ {
  font-size: 3.7rem;
  font-weight: 800;
  line-height: 1.3800000371;
  color: #002d3f;
  font-family: Mont, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-3-iqY .auto-group-ff2i-NqY {
  width: 100%;
  height: 133.4rem;
  position: relative;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-3-iqY .auto-group-ff2i-NqY .photocomputer-1-Uta {
  width: 131.3rem;
  height: 79.9rem;
  position: absolute;
  left: 0;
  top: 53.5rem;
  object-fit: cover;
  vertical-align: top;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-3-iqY .auto-group-ff2i-NqY .biggreenframe-1-R38 {
  width: 131.3rem;
  height: 58.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-3-iqY .auto-group-ff2i-NqY .all-in-one-atm-operations-monitoring--9Uv {
  width: 63.6rem;
  height: 4.8rem;
  position: absolute;
  left: 8.5rem;
  top: 7.9rem;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-3-iqY .auto-group-ff2i-NqY .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-bri {
  width: 44.1rem;
  height: 18.8rem;
  position: absolute;
  left: 16.6rem;
  top: 18.2rem;
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.3303319146;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-3-iqY .auto-group-ff2i-NqY .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-bri .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-bri-sub-0 {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.3764900932;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-3-iqY .auto-group-ff2i-NqY .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-bri .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-bri-sub-1 {
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.3764900932;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-3-iqY .auto-group-ff2i-NqY .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-dqL {
  width: 36.7rem;
  height: 27.2rem;
  position: absolute;
  left: 77.6rem;
  top: 18.2rem;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.3303320268;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-3-iqY .auto-group-ff2i-NqY .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-dqL .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-dqL-sub-0 {
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-3-iqY .auto-group-ff2i-NqY .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-dqL .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-dqL-sub-1 {
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 1.3303320268;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-3-iqY .auto-group-ff2i-NqY .line-1-Ja6 {
  width: 0.2rem;
  height: 29.9rem;
  position: absolute;
  left: 63.3rem;
  top: 19.6rem;
  background-color: rgba(255, 255, 255, 0.200000003);
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-3-iqY .auto-group-ff2i-NqY .item-2-1-qK8 {
  width: 3.7rem;
  height: 6.2rem;
  position: absolute;
  left: 69.8rem;
  top: 19.6rem;
  object-fit: cover;
  vertical-align: top;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-3-iqY .auto-group-ff2i-NqY .item-2-2-qCe {
  width: 3.7rem;
  height: 6.2rem;
  position: absolute;
  left: 8.8rem;
  top: 19.6rem;
  object-fit: cover;
  vertical-align: top;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-3-iqY .item-3-iqY-bg {
  width: 192rem;
  height: 210.2rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:593db44ac56e3c05d3c6d775284a209f23961dda');
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-2-4bC {
  width: 192rem;
  height: 145.2656rem;
  position: absolute;
  left: 0;
  top: 168.2rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/bg2-1-bg-1TY.png');
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-2-4bC .auto-group-a5er-CSW {
  width: 119.7rem;
  height: 35.2rem;
  position: absolute;
  left: 30.3rem;
  top: 11.9rem;
  display: flex;
  align-items: flex-start;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-2-4bC .auto-group-a5er-CSW .logo-2-XDt {
  margin-right: 48rem;
  width: 23.9rem;
  height: 12.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-2-4bC .auto-group-a5er-CSW .we-run-an-in-house-delivery-of-new-atm-software-from-new-transaction-types-to-reporting-or-advanced-security-software-development-and-deployment-per-pci-requirements-4jc {
  margin-top: 7.6rem;
  max-width: 47.8rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.4375;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-2-4bC .auto-group-g1ej-h1t {
  width: 36.4rem;
  height: 4.6rem;
  position: absolute;
  left: 102.6rem;
  top: 52rem;
  display: flex;
  align-items: center;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-2-4bC .auto-group-g1ej-h1t .rectangle-2-Ndp {
  margin: 0.4rem 2.7rem 0rem 0rem;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #174456;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-2-4bC .auto-group-g1ej-h1t .multivendor-multihost-gPc {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.4375;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-2-4bC .auto-group-cg4s-1wg {
  width: 37.5rem;
  height: 4.6rem;
  position: absolute;
  left: 102.6rem;
  top: 59.2rem;
  display: flex;
  align-items: center;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-2-4bC .auto-group-cg4s-1wg .rectangle-3-Xf8 {
  margin: 0.2rem 2.7rem 0rem 0rem;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #174456;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-2-4bC .auto-group-cg4s-1wg .multiprotocol-solutions-eze {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.4375;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-2-4bC .line-1-zYi {
  width: 51.5rem;
  height: 0.2rem;
  position: absolute;
  left: 102.7rem;
  top: 58.2rem;
  background-color: rgba(255, 255, 255, 0.200000003);
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-2-4bC .auto-group-4bsq-vhG {
  width: 110.4rem;
  height: 44.6rem;
  position: absolute;
  left: 37.9rem;
  top: 78.8rem;
  display: flex;
  align-items: flex-start;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-2-4bC .auto-group-4bsq-vhG .atm-software-development-integration-s6i {
  margin-right: 21rem;
  max-width: 45.3rem;
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 1.3409090909;
  color: #e8e8e7;
  font-family: Mont, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-2-4bC .auto-group-4bsq-vhG .logos-wcN {
  margin-top: 1.8rem;
  width: 44.1rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-2-4bC .auto-group-4bsq-vhG .logos-wcN .auto-group-gv8z-GPk {
  margin: 0rem 0rem 8.4rem 2.3rem;
  width: calc(100% - 2.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-2-4bC .auto-group-4bsq-vhG .logos-wcN .auto-group-gv8z-GPk .restapi-zqY {
  margin-right: 7.6rem;
  width: 17.6rem;
  height: 14.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-2-4bC .auto-group-4bsq-vhG .logos-wcN .auto-group-gv8z-GPk .iso-X4n {
  width: 16.6rem;
  height: 16.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-2-4bC .auto-group-4bsq-vhG .logos-wcN .auto-group-sdzc-SSe {
  margin-right: 2rem;
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-2-4bC .auto-group-4bsq-vhG .logos-wcN .auto-group-sdzc-SSe .pci-nmQ {
  margin: 0rem 6rem 0.1rem 0rem;
  width: 24.6rem;
  height: 16.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-2-4bC .auto-group-4bsq-vhG .logos-wcN .auto-group-sdzc-SSe .nexo-g66 {
  width: 11.5rem;
  height: 17.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-1-bD4 {
  width: 192rem;
  height: 168.2969rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-1-bD4 .auto-group-k1y4-jaA {
  margin-bottom: 0.0156rem;
  box-sizing: border-box;
  padding: 9.5rem 30.5rem 31.584rem 29.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/big-cubes-1-bg-Z86.png');
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-1-bD4 .auto-group-k1y4-jaA .auto-group-egzq-FYW {
  margin: 0rem 0rem 28.8rem 0.5rem;
  width: calc(100% - 0.5rem);
  height: 12.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-1-bD4 .auto-group-k1y4-jaA .auto-group-egzq-FYW .logo-1-yzJ {
  width: 23.9rem;
  height: 12.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-1-bD4 .auto-group-k1y4-jaA .auto-group-egzq-FYW .auto-group-hast-LK4 {
  box-sizing: border-box;
  padding: 1.6rem 0rem 2.2rem 54.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-1-bD4 .auto-group-k1y4-jaA .auto-group-egzq-FYW .auto-group-hast-LK4 .smallcubes-1-Scz {
  margin: 4.636rem 1.478rem 0rem 0rem;
  width: 0.9217rem;
  height: 1.5362rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-1-bD4 .auto-group-k1y4-jaA .auto-group-egzq-FYW .auto-group-hast-LK4 .auto-group-zn6e-Mzr {
  margin-right: 16.9rem;
  width: 16.7rem;
  height: 100%;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-1-bD4 .auto-group-k1y4-jaA .auto-group-egzq-FYW .auto-group-hast-LK4 .auto-group-zn6e-Mzr .who-we-are-uWa {
  margin-bottom: 0.5rem;
  width: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.975;
  text-transform: uppercase;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-1-bD4 .auto-group-k1y4-jaA .auto-group-egzq-FYW .auto-group-hast-LK4 .auto-group-zn6e-Mzr .services-naN {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.975;
  text-transform: uppercase;
  color: #f16726;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-1-bD4 .auto-group-k1y4-jaA .auto-group-egzq-FYW .auto-group-hast-LK4 .auto-group-jtia-8PL {
  width: 16.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-1-bD4 .auto-group-k1y4-jaA .auto-group-egzq-FYW .auto-group-hast-LK4 .auto-group-jtia-8PL .who-we-are-Uxz {
  margin-bottom: 0.5rem;
  width: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.975;
  text-transform: uppercase;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-1-bD4 .auto-group-k1y4-jaA .auto-group-egzq-FYW .auto-group-hast-LK4 .auto-group-jtia-8PL .who-we-are-CPC {
  width: 100%;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.975;
  text-transform: uppercase;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-1-bD4 .auto-group-k1y4-jaA .atm-direct-1-isL {
  margin: 0rem 59rem 7.6rem 0rem;
  width: 72.6rem;
  height: 11.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-1-bD4 .auto-group-k1y4-jaA .the-only-atm-provider-you-need-T4E {
  margin: 0rem 75.9rem 12.7rem 0rem;
  max-width: 55.7rem;
  font-size: 6.8rem;
  font-weight: 800;
  line-height: 1.2373582055;
  color: #f16726;
  font-family: Mont, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-1-bD4 .auto-group-k1y4-jaA .auto-group-jopn-8AN {
  margin: 0rem 47.3rem 0rem 0.2rem;
  width: calc(100% - 47.5rem);
  height: 7.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-1-bD4 .auto-group-k1y4-jaA .auto-group-jopn-8AN .button-r6N {
  margin: 1.3rem 5.3rem 0.6rem 0rem;
  width: 41.1rem;
  height: calc(100% - 1.9rem);
  cursor: pointer;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #002d3f;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f16726;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-1-bD4 .auto-group-k1y4-jaA .auto-group-jopn-8AN .when-complex-tasks-turn-into-fast-and-easy-solutions-tok {
  max-width: 37.7rem;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.462962963;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-1-bD4 .logos-Wq8 {
  box-sizing: border-box;
  padding: 8.7rem 29.9rem 9.097rem 29.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/bglogos-1-bg-63k.png');
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-1-bD4 .logos-Wq8 .logotypes-1-eAe {
  margin-right: 17.5rem;
  width: 13.6rem;
  height: 11.5rem;
  position: relative;
  background-size: 973.031% 100%;
  background-position: -0.0661rem 0;
  background-image: url('../assets/logotypes-1-pmp.png');
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-1-bD4 .logos-Wq8 .logotypes-2-XES {
  margin-right: 17.6rem;
  width: 23.9rem;
  height: 11.5rem;
  position: relative;
  background-size: 553.691% 100%;
  background-position: -31.1661rem 0;
  background-image: url('../assets/logotypes-2-SYz.png');
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-1-bD4 .logos-Wq8 .logotypes-3-Qp2 {
  margin-right: 15.1rem;
  width: 19.9rem;
  height: 11.5rem;
  position: relative;
  background-size: 664.986% 100%;
  background-position: -72.6661rem 0;
  background-image: url('../assets/logotypes-3.png');
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-e2c2-oTg .item-1-bD4 .logos-Wq8 .logotypes-4-8V8 {
  width: 24.6rem;
  height: 11.5rem;
  position: relative;
  background-size: 537.936% 100%;
  background-position: -107.6661rem 0;
  background-image: url('../assets/logotypes-4-NAN.png');
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa {
  width: 192.1rem;
  height: 376.6rem;
  position: relative;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-6-jjp {
  box-sizing: border-box;
  padding: 11.1rem 46rem 7.8rem 29.2rem;
  width: 192rem;
  height: 85.5rem;
  position: absolute;
  left: 0;
  top: 291.1rem;
  display: flex;
  align-items: center;
  background-size: 100% 100.439%;
  background-position: 0 -0.2rem;
  background-image: url('../assets/bg-1-bg-t9g.png');
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-6-jjp .reference-projects-EAn {
  margin: 0rem 29rem 48.9rem 0rem;
  max-width: 29.7rem;
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 1.3409090909;
  color: #e8e8e7;
  font-family: Mont, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-6-jjp .auto-group-n6d8-YBU {
  margin: 0rem 3.3rem 11.5rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-6-jjp .auto-group-n6d8-YBU .item-1-Uqp {
  margin-bottom: 28.8596rem;
  width: 3.6rem;
  height: 3.6404rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-6-jjp .auto-group-n6d8-YBU .item-3-RFG {
  margin-bottom: 9.9596rem;
  width: 3.6rem;
  height: 3.6404rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-6-jjp .auto-group-n6d8-YBU .item-2-Muc {
  width: 3.6rem;
  height: 3.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-6-jjp .auto-group-byqp-ugE {
  margin-top: 2rem;
  width: 51.2rem;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-6-jjp .auto-group-byqp-ugE .auto-group-brpp-3nS {
  margin-bottom: 4.8rem;
  width: 100%;
  height: 41.7rem;
  position: relative;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-6-jjp .auto-group-byqp-ugE .auto-group-brpp-3nS .top-bank-in-ukraine-multivendor-multi-hostmultiprotocol-solution-cloud-terminal-management-Bte {
  width: 36.6rem;
  height: 32rem;
  position: absolute;
  left: 0;
  top: 9.4rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5199999491;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-6-jjp .auto-group-byqp-ugE .auto-group-brpp-3nS .iad--GQJ {
  width: 6.1rem;
  height: 4.6rem;
  position: absolute;
  left: 0.8rem;
  top: 32.8rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5199999491;
  color: #1ab479;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-6-jjp .auto-group-byqp-ugE .auto-group-brpp-3nS .eu-uk-bins-multivendor-nexo-protocol-PE2 {
  width: 50rem;
  height: 4.6rem;
  position: absolute;
  left: 1.2rem;
  top: 37.1rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5199999491;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-6-jjp .auto-group-byqp-ugE .auto-group-brpp-3nS .ukraine--sQ6 {
  width: 12.3rem;
  height: 5.4rem;
  position: absolute;
  left: 0.9rem;
  top: 4.5rem;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.5200000218;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-6-jjp .auto-group-byqp-ugE .auto-group-brpp-3nS .banking--zUi {
  width: 13.6rem;
  height: 4.8rem;
  position: absolute;
  left: 1rem;
  top: 0;
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 1.5199999655;
  text-transform: uppercase;
  color: #f16726;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-6-jjp .auto-group-byqp-ugE .auto-group-yydy-s2i {
  width: 40.8rem;
  height: 18.1rem;
  position: relative;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-6-jjp .auto-group-byqp-ugE .auto-group-yydy-s2i .crypto--owx {
  width: 11.3rem;
  height: 4.6rem;
  position: absolute;
  left: 0.8rem;
  top: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5199999491;
  text-transform: uppercase;
  color: #376eb4;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-6-jjp .auto-group-byqp-ugE .auto-group-yydy-s2i .qr-based-deposits-withdrawals-token-issuer-integration-8DY {
  width: 40.8rem;
  height: 13.7rem;
  position: absolute;
  left: 0;
  top: 4.4rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5199999491;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-6-jjp .item-6-jjp-bg {
  width: 192rem;
  height: 85.5rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:29c1d9f5d08d570b252a322956d55ef952dc1441');
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-5-xCa {
  width: 192.1rem;
  height: 165.6rem;
  position: absolute;
  left: 0;
  top: 125.6rem;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-5-xCa .bg-6Jn {
  width: 191.9rem;
  height: 165.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-5-xCa .bg-2y8 {
  width: 192.1rem;
  height: 165.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-5-xCa .additional-services-LU2 {
  width: 30.1rem;
  height: 18rem;
  position: absolute;
  left: 95.5rem;
  top: 17.8rem;
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 1.3999999762;
  color: #002d3f;
  font-family: Mont, 'Source Sans Pro';
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-5-xCa .logo-4-T2r {
  width: 23.8rem;
  height: 12.2rem;
  position: absolute;
  left: 30.3rem;
  top: 17.8rem;
  object-fit: cover;
  vertical-align: top;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-5-xCa .bubble1-nL2 {
  width: 27.6rem;
  height: 29rem;
  position: absolute;
  left: 138.3rem;
  top: 14.1rem;
  object-fit: cover;
  vertical-align: top;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-5-xCa .frames-iUa {
  width: 131.1rem;
  height: 108.6rem;
  position: absolute;
  left: 30.2rem;
  top: 41.9rem;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-5-xCa .frames-iUa .colorframes1-Exi {
  width: 65.6rem;
  height: 22rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 199.848% 493.764%;
  background-position: 0 -0.014rem;
  background-image: url('../assets/colorframes1-S66.png');
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-5-xCa .frames-iUa .colorframes2-946 {
  width: 65.7rem;
  height: 22.1rem;
  position: relative;
  left: 0;
  top: 43.3rem;
  background-size: 199.543% 491.53%;
  background-position: 0 -43.314rem;
  background-image: url('../assets/colorframes2.png');
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-5-xCa .frames-iUa .colorframes3-rDQ {
  width: 65.7rem;
  height: 21.9rem;
  position: relative;
  left: 0;
  top: 86.7rem;
  background-size: 199.543% 496.018%;
  background-position: 0 -86.714rem;
  background-image: url('../assets/colorframes3-E5Q.png');
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-5-xCa .frames-iUa .colorframes4-AUz {
  width: 65.8rem;
  height: 22.2rem;
  position: relative;
  left: 65.3rem;
  top: 21.4rem;
  background-size: 199.24% 489.316%;
  background-position: -65.3rem -21.414rem;
  background-image: url('../assets/colorframes4.png');
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-5-xCa .frames-iUa .colorframes5-H3p {
  width: 65.7rem;
  height: 22rem;
  position: relative;
  left: 65.4rem;
  top: 65rem;
  background-size: 199.543% 493.764%;
  background-position: -65.4rem -65.014rem;
  background-image: url('../assets/colorframes5-8uY.png');
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-5-xCa .frames-iUa .hw-distribution-zD8 {
  width: 27.8rem;
  height: 6.1rem;
  position: absolute;
  left: 14.4rem;
  top: 7.4rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5199999809;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-5-xCa .frames-iUa .cash-management-sw8 {
  width: 32.7rem;
  height: 6.1rem;
  position: absolute;
  left: 76.7rem;
  top: 28.8rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5199999809;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-5-xCa .frames-iUa .extended-functionality-M5c {
  width: 40.2rem;
  height: 6.1rem;
  position: absolute;
  left: 6.9rem;
  top: 50.7rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5199999809;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-5-xCa .frames-iUa .other-upon-request-SMx {
  width: 34.4rem;
  height: 6.1rem;
  position: absolute;
  left: 9.5rem;
  top: 94rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5199999809;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-5-xCa .frames-iUa .telecom-solutions-Vr2 {
  width: 31.8rem;
  height: 6.1rem;
  position: absolute;
  left: 78.9rem;
  top: 72.3rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5199999809;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L {
  box-sizing: border-box;
  padding: 12.3rem 37.8rem 17.825rem 29.2rem;
  width: 192rem;
  height: 135.5248rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100.305%;
  background-position: 0 -0.4064rem;
  background-image: url('../assets/bg-1-bg-yES.png');
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .auto-group-rxa6-JYa {
  margin-bottom: 4.3rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .auto-group-rxa6-JYa .auto-group-5sen-Fii {
  margin-right: 38.2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .auto-group-rxa6-JYa .auto-group-5sen-Fii .logo-3-Qbc {
  margin: 0rem 0rem 10.5rem 1.1rem;
  width: 23.9rem;
  height: 12.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .auto-group-rxa6-JYa .auto-group-5sen-Fii .rapid-atm-deployment-Xw8 {
  max-width: 35.3rem;
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 1.3828125;
  color: #e8e8e7;
  font-family: Mont, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .auto-group-rxa6-JYa .auto-group-jaw4-qwp {
  margin-top: 11.4rem;
  width: 51.5rem;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .auto-group-rxa6-JYa .auto-group-jaw4-qwp .auto-group-dhvz-9hc {
  margin: 0rem 15.5rem 5.4rem 0rem;
  width: calc(100% - 15.5rem);
  display: flex;
  align-items: flex-end;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .auto-group-rxa6-JYa .auto-group-jaw4-qwp .auto-group-dhvz-9hc .icons-1-dMt {
  margin-right: 5.4rem;
  width: 10.5rem;
  height: 11.5rem;
  position: relative;
  background-size: 100.386% 780.87%;
  background-position: -0.0202rem -0rem;
  background-image: url('../assets/icons-1-Mmk.png');
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .auto-group-rxa6-JYa .auto-group-jaw4-qwp .auto-group-dhvz-9hc .atm-operations-5Un {
  margin-bottom: 0.8rem;
  max-width: 20.1rem;
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 1.5199999558;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .auto-group-rxa6-JYa .auto-group-jaw4-qwp .line-2-agS {
  margin-bottom: 6.1rem;
  width: 100%;
  height: 0.2rem;
  background-color: rgba(255, 255, 255, 0.200000003);
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .auto-group-rxa6-JYa .auto-group-jaw4-qwp .auto-group-2ryz-GpA {
  margin: 0rem 4.8rem 0rem 0.2rem;
  width: calc(100% - 5rem);
  display: flex;
  align-items: center;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .auto-group-rxa6-JYa .auto-group-jaw4-qwp .auto-group-2ryz-GpA .icons-2-BAS {
  margin-right: 5.2rem;
  width: 10.5rem;
  height: 11rem;
  position: relative;
  background-size: 100.386% 816.364%;
  background-position: -0.0202rem -26.4rem;
  background-image: url('../assets/icons-2-xfc.png');
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .auto-group-rxa6-JYa .auto-group-jaw4-qwp .auto-group-2ryz-GpA .software-development-and-integrations-D78 {
  max-width: 30.8rem;
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 1.5199999558;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .line-3-By4 {
  margin: 0rem 0rem 4.2rem 73.5rem;
  width: 51.5rem;
  height: 0.2rem;
  background-color: rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .auto-group-wpee-uu4 {
  margin: 0rem 10.5rem 4.4rem 73.7rem;
  width: calc(100% - 84.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .auto-group-wpee-uu4 .icons-3-qGv {
  margin: 0rem 5.2rem 0.4rem 0rem;
  width: 10.5rem;
  height: 11.4rem;
  position: relative;
  background-size: 100.386% 787.719%;
  background-position: -0.0202rem -52.1rem;
  background-image: url('../assets/icons-3-aZ8.png');
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .auto-group-wpee-uu4 .advanced-monitoring-and-reporting-XQe {
  max-width: 25.1rem;
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 1.5199999558;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .line-4-dia {
  margin: 0rem 0rem 4.4rem 73.5rem;
  width: 51.5rem;
  height: 0.2rem;
  background-color: rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .auto-group-4vsn-YKk {
  margin: 0rem 2.1rem 0rem 0.9rem;
  width: calc(100% - 3rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .auto-group-4vsn-YKk .flags-1-SAE {
  margin-right: 4.7rem;
  width: 9rem;
  height: 6.7rem;
  position: relative;
  background-size: 404.589% 100%;
  background-position: -0.0065rem 0rem;
  background-image: url('../assets/flags-1.png');
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .auto-group-4vsn-YKk .flags-2-Wft {
  margin-right: 4.7rem;
  width: 9rem;
  height: 6.7rem;
  position: relative;
  background-size: 404.589% 100%;
  background-position: -13.7065rem 0;
  background-image: url('../assets/flags-2-jpn.png');
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .auto-group-4vsn-YKk .flags-3-ELz {
  margin-right: 36.4rem;
  width: 9rem;
  height: 6.7rem;
  position: relative;
  background-size: 404.589% 100%;
  background-position: -27.4065rem 0rem;
  background-image: url('../assets/flags-3-xZp.png');
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .auto-group-4vsn-YKk .icons-4-x26 {
  margin: 0rem 5.2rem 3.3rem 0rem;
  width: 10.5rem;
  height: 11rem;
  position: relative;
  background-size: 100.386% 816.364%;
  background-position: -0.0202rem -78.8rem;
  background-image: url('../assets/icons-4-NkS.png');
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .auto-group-4vsn-YKk .instant-connection-to-card-schemes-dP8 {
  margin-bottom: 5.8rem;
  max-width: 33.5rem;
  font-size: 3.8rem;
  font-weight: 400;
  line-height: 1.5199999558;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .auto-group-m3ke-npa .item-4-D1L .item-4-D1L-bg {
  width: 192rem;
  height: 135.5248rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:3a81c947afb99dd5c6fb8d721a39edcc217837c7');
}
.ecexatmdirect1920-XFG .item-8-FvJ {
  box-sizing: border-box;
  padding: 9.9rem 31rem 12.2rem 29.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #e8e8e8;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .item-8-FvJ .compliance-partners-A1g {
  margin: 0rem 11.7rem 23.6rem 0rem;
  max-width: 40.7rem;
  font-size: 6.4rem;
  font-weight: 800;
  line-height: 1.3999999762;
  color: #002d3f;
  font-family: Mont, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .item-8-FvJ .dertificate-4sk {
  margin: 2.5rem 7.9rem 0rem 0rem;
  width: 27.3rem;
  height: 39.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .item-8-FvJ .auto-group-1mrc-nok {
  margin: 0rem 1.6rem 11.3rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .item-8-FvJ .auto-group-1mrc-nok .kal-8ci {
  margin-bottom: 7.4rem;
  width: 14.7rem;
  height: 10.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .item-8-FvJ .auto-group-1mrc-nok .pcidss-Giv {
  width: 20.3rem;
  height: 7.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .item-8-FvJ .auto-group-ytg2-AZQ {
  margin-bottom: 12.3rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .item-8-FvJ .auto-group-ytg2-AZQ .visamaster-v2n {
  margin-bottom: 6.5rem;
  width: 21.6rem;
  height: 10.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .item-8-FvJ .auto-group-ytg2-AZQ .atmia-G6e {
  width: 16.6rem;
  height: 7.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .item-7-Ckz {
  box-sizing: border-box;
  padding: 9.1rem 24.9rem 1.794rem 29.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/back-bg-nDQ.png');
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .item-7-Ckz .auto-group-vd1l-jF8 {
  margin-bottom: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .item-7-Ckz .auto-group-vd1l-jF8 .contact-us--Gkr {
  margin: 0rem 28.5rem 2.6rem 0rem;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.5199999558;
  color: #f16726;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .item-7-Ckz .auto-group-vd1l-jF8 .auto-group-xwqp-MnJ {
  margin: 1.5rem 20.6rem 0rem 0rem;
  width: 28.1rem;
  height: 6.9rem;
  position: relative;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .item-7-Ckz .auto-group-vd1l-jF8 .auto-group-xwqp-MnJ .who-we-are-TaS {
  width: 27rem;
  height: 3.9rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 3rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5199999376;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1920-XFG .item-7-Ckz .auto-group-vd1l-jF8 .auto-group-xwqp-MnJ .corporate-office-372-602-7022-jXx {
  width: 28.1rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5199999376;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1920-XFG .item-7-Ckz .auto-group-vd1l-jF8 .harju-maakond-tallinn-lasname-linnaosa-katusepapi-tn-6-502-11412-dtE {
  margin-top: 1.3rem;
  max-width: 41.1rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5199999376;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .item-7-Ckz .auto-group-ucie-jAa {
  margin: 0rem 5.8rem 13.1rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .item-7-Ckz .auto-group-ucie-jAa .vector-smart-object-rkz {
  margin: 0rem 2.833rem 0.2rem 0rem;
  width: 6.6667rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .item-7-Ckz .auto-group-ucie-jAa .nl-office-31-6-2745-6998-dQN {
  margin: 0.8rem 13.1rem 0rem 0rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5199999376;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .item-7-Ckz .auto-group-ucie-jAa .nl-office-31-6-2745-6998-dQN .nl-office-31-6-2745-6998-dQN-sub-0 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.5199999376;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1920-XFG .item-7-Ckz .auto-group-ucie-jAa .nl-office-31-6-2745-6998-dQN .nl-office-31-6-2745-6998-dQN-sub-1 {
}
.ecexatmdirect1920-XFG .item-7-Ckz .auto-group-ucie-jAa .vector-smart-object-copy-4-KAi {
  margin: 0rem 2.792rem 0.2rem 0rem;
  width: 6.7083rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .item-7-Ckz .auto-group-ucie-jAa .uk-office-44-7950-449188-qPx {
  margin: 0.8rem 14.5rem 0rem 0rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5199999376;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .item-7-Ckz .auto-group-ucie-jAa .uk-office-44-7950-449188-qPx .uk-office-44-7950-449188-qPx-sub-0 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.5199999376;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1920-XFG .item-7-Ckz .auto-group-ucie-jAa .uk-office-44-7950-449188-qPx .uk-office-44-7950-449188-qPx-sub-1 {
}
.ecexatmdirect1920-XFG .item-7-Ckz .auto-group-ucie-jAa .vector-smart-object-copy-5-BML {
  margin: 0.2rem 2.8rem 0rem 0rem;
  width: 6.7rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .item-7-Ckz .auto-group-ucie-jAa .ua-office-38-093-441-0774-UrE {
  margin-top: 0.8rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5199999376;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .item-7-Ckz .auto-group-ucie-jAa .ua-office-38-093-441-0774-UrE .ua-office-38-093-441-0774-UrE-sub-0 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.5199999376;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1920-XFG .item-7-Ckz .auto-group-ucie-jAa .ua-office-38-093-441-0774-UrE .ua-office-38-093-441-0774-UrE-sub-1 {
}
.ecexatmdirect1920-XFG .item-7-Ckz .copyright-2023-atm-direct-o-all-rights-reserved-ePL {
  margin-right: 17.8rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5199999809;
  color: #000000;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.ecexatmdirect1920-XFG .item-7-Ckz .copyright-2023-atm-direct-o-all-rights-reserved-ePL .copyright-2023-atm-direct-o-all-rights-reserved-ePL-sub-0 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5199999809;
  color: #000000;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1920-XFG .item-7-Ckz .copyright-2023-atm-direct-o-all-rights-reserved-ePL .copyright-2023-atm-direct-o-all-rights-reserved-ePL-sub-1 {
}
.ecexatmdirect1920-XFG .item-7-Ckz .copyright-2023-atm-direct-o-all-rights-reserved-ePL .copyright-2023-atm-direct-o-all-rights-reserved-ePL-sub-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5199999809;
  color: #000000;
  font-family: Verdana, 'Source Sans Pro';
}
