
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.ecexatmdirect1280-Xge {
  box-sizing: border-box;
  padding-bottom: 0.0041rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p {
  width: 128.0731rem;
  height: 586.963rem;
  position: relative;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-6-thY {
  box-sizing: border-box;
  padding: 7.4rem 30.603rem 5.134rem 19.468rem;
  width: 128.0065rem;
  height: 57.0029rem;
  position: absolute;
  left: 0;
  top: 529.9601rem;
  display: flex;
  align-items: center;
  background-size: 100% 100.439%;
  background-position: 0 -0.1333rem;
  background-image: url('../assets/bg-1-bg-sSz.png');
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-6-thY .reference-projects-Knr {
  margin: 0rem 20.635rem 32.569rem 0rem;
  max-width: 18.5rem;
  font-size: 4.1rem;
  font-weight: 800;
  line-height: 1.4390972417;
  color: #e8e8e7;
  font-family: Mont, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-6-thY .auto-group-aykp-BaA {
  margin: 0rem 2.2rem 7.733rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-6-thY .auto-group-aykp-BaA .item-1-Var {
  margin-bottom: 19.2407rem;
  width: 2.4001rem;
  height: 2.4271rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-6-thY .auto-group-aykp-BaA .item-3-CVG {
  margin-bottom: 6.6401rem;
  width: 2.4001rem;
  height: 2.4271rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-6-thY .auto-group-aykp-BaA .item-2-7s8 {
  width: 2.4001rem;
  height: 2.4001rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-6-thY .auto-group-etvt-FCe {
  margin-top: 1.3334rem;
  width: 34.2rem;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-6-thY .auto-group-etvt-FCe .auto-group-hwfx-niN {
  margin-bottom: 3.167rem;
  width: 100%;
  height: 27.8346rem;
  position: relative;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-6-thY .auto-group-etvt-FCe .auto-group-hwfx-niN .top-bank-in-ukraine-multivendor-multi-hostmultiprotocol-solution-cloud-terminal-management-KCW {
  width: 24.4rem;
  height: 21.3rem;
  position: absolute;
  left: 0;
  top: 6.267rem;
  font-size: 2.0001rem;
  font-weight: 400;
  line-height: 1.5200000191;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-6-thY .auto-group-etvt-FCe .auto-group-hwfx-niN .iad--UWe {
  width: 4.1rem;
  height: 3.1rem;
  position: absolute;
  left: 0.5334rem;
  top: 21.8677rem;
  font-size: 2.0001rem;
  font-weight: 700;
  line-height: 1.5200000191;
  color: #1ab479;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-6-thY .auto-group-etvt-FCe .auto-group-hwfx-niN .eu-uk-bins-multivendor-nexo-protocol-A8a {
  width: 33.4rem;
  height: 3.1rem;
  position: absolute;
  left: 0.8rem;
  top: 24.7346rem;
  font-size: 2.0001rem;
  font-weight: 400;
  line-height: 1.5200000191;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-6-thY .auto-group-etvt-FCe .auto-group-hwfx-niN .ukraine--RKQ {
  width: 8.2rem;
  height: 3.6rem;
  position: absolute;
  left: 0.6rem;
  top: 3.0001rem;
  font-size: 2.3335rem;
  font-weight: 400;
  line-height: 1.5199999085;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-6-thY .auto-group-etvt-FCe .auto-group-hwfx-niN .banking--6wL {
  width: 8.8rem;
  height: 3.1rem;
  position: absolute;
  left: 0.6667rem;
  top: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5199999809;
  text-transform: uppercase;
  color: #f16726;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-6-thY .auto-group-etvt-FCe .auto-group-zs3p-24J {
  width: 27.2rem;
  height: 12.1335rem;
  position: relative;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-6-thY .auto-group-etvt-FCe .auto-group-zs3p-24J .crypto--9ei {
  width: 7.5rem;
  height: 3.1rem;
  position: absolute;
  left: 0.5334rem;
  top: 0;
  font-size: 2.0001rem;
  font-weight: 700;
  line-height: 1.5200000191;
  text-transform: uppercase;
  color: #376eb4;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-6-thY .auto-group-etvt-FCe .auto-group-zs3p-24J .qr-based-deposits-withdrawals-token-issuer-integration-2iW {
  width: 27.2rem;
  height: 9.2rem;
  position: absolute;
  left: 0;
  top: 2.9335rem;
  font-size: 2.0001rem;
  font-weight: 400;
  line-height: 1.5200000191;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-6-thY .item-6-thY-bg {
  width: 128.0065rem;
  height: 57.0029rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:29c1d9f5d08d570b252a322956d55ef952dc1441');
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-5-1qL {
  width: 128.0731rem;
  height: 110.4056rem;
  position: absolute;
  left: 0;
  top: 419.6212rem;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-5-1qL .bg-YaN {
  width: 127.9398rem;
  height: 110.4056rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-5-1qL .bg-Hnr {
  width: 128.0731rem;
  height: 110.4056rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-5-1qL .additional-services-Exz {
  width: 19.3rem;
  height: 11.5rem;
  position: absolute;
  left: 63.6699rem;
  top: 11.8673rem;
  font-size: 4.1rem;
  font-weight: 800;
  line-height: 1.3999999442;
  color: #002d3f;
  font-family: Mont, 'Source Sans Pro';
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-5-1qL .logo-4-vqp {
  width: 15.8675rem;
  height: 8.1337rem;
  position: absolute;
  left: 20.201rem;
  top: 11.8673rem;
  object-fit: cover;
  vertical-align: top;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-5-1qL .bubble1-SJN {
  width: 18.4009rem;
  height: 19.3343rem;
  position: absolute;
  left: 92.2047rem;
  top: 9.4005rem;
  object-fit: cover;
  vertical-align: top;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-5-1qL .frames-mrS {
  width: 87.4044rem;
  height: 72.4037rem;
  position: absolute;
  left: 20.1343rem;
  top: 27.9348rem;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-5-1qL .frames-mrS .colorframes1-JbU {
  width: 43.7355rem;
  height: 14.6674rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 199.848% 493.764%;
  background-position: 0 -0.0094rem;
  background-image: url('../assets/colorframes1.png');
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-5-1qL .frames-mrS .colorframes2-aot {
  width: 43.8022rem;
  height: 14.7341rem;
  position: relative;
  left: 0;
  top: 28.8681rem;
  background-size: 199.543% 491.53%;
  background-position: 0 -28.8775rem;
  background-image: url('../assets/colorframes2-VZ4.png');
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-5-1qL .frames-mrS .colorframes3-Vfx {
  width: 43.8022rem;
  height: 14.6007rem;
  position: relative;
  left: 0;
  top: 57.8029rem;
  background-size: 199.543% 496.018%;
  background-position: 0 -57.8123rem;
  background-image: url('../assets/colorframes3.png');
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-5-1qL .frames-mrS .colorframes4-mtN {
  width: 43.8689rem;
  height: 14.8007rem;
  position: relative;
  left: 43.5355rem;
  top: 14.2674rem;
  background-size: 199.24% 489.316%;
  background-position: -43.5355rem -14.2767rem;
  background-image: url('../assets/colorframes4-DoQ.png');
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-5-1qL .frames-mrS .colorframes5-Gq8 {
  width: 43.8022rem;
  height: 14.6674rem;
  position: relative;
  left: 43.6022rem;
  top: 43.3355rem;
  background-size: 199.543% 493.764%;
  background-position: -43.6022rem -43.3449rem;
  background-image: url('../assets/colorframes5.png');
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-5-1qL .frames-mrS .hw-distribution-mmt {
  width: 18.1rem;
  height: 4rem;
  position: absolute;
  left: 9.6005rem;
  top: 4.9336rem;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.5200000176;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-5-1qL .frames-mrS .cash-management-fcN {
  width: 21.3rem;
  height: 4rem;
  position: absolute;
  left: 51.1359rem;
  top: 19.201rem;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.5200000176;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-5-1qL .frames-mrS .extended-functionality-ajL {
  width: 26.1rem;
  height: 4rem;
  position: absolute;
  left: 4.6002rem;
  top: 33.8017rem;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.5200000176;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-5-1qL .frames-mrS .other-upon-request-U42 {
  width: 22.4rem;
  height: 4rem;
  position: absolute;
  left: 6.3337rem;
  top: 62.6698rem;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.5200000176;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-5-1qL .frames-mrS .telecom-solutions-mJ2 {
  width: 20.7rem;
  height: 4rem;
  position: absolute;
  left: 52.6027rem;
  top: 48.2024rem;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.5200000176;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt {
  box-sizing: border-box;
  padding: 8.2rem 25.201rem 11.884rem 19.468rem;
  width: 128.0065rem;
  height: 90.3544rem;
  position: absolute;
  left: 0;
  top: 335.8836rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100.305%;
  background-position: 0 -0.2709rem;
  background-image: url('../assets/bg-1-bg-tBC.png');
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .auto-group-4sea-6Ui {
  margin-bottom: 3.0674rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .auto-group-4sea-6Ui .auto-group-vm9l-qx6 {
  margin-right: 26.3025rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .auto-group-4sea-6Ui .auto-group-vm9l-qx6 .logo-3-CGr {
  margin: 0rem 0rem 7rem 0.733rem;
  width: 15.9341rem;
  height: 8.2004rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .auto-group-4sea-6Ui .auto-group-vm9l-qx6 .rapid-atm-deployment-KMU {
  max-width: 22.7rem;
  font-size: 4.1rem;
  font-weight: 800;
  line-height: 1.4390972417;
  color: #e8e8e7;
  font-family: Mont, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .auto-group-4sea-6Ui .auto-group-aghq-ePk {
  margin-top: 7.6004rem;
  width: 34.3351rem;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .auto-group-4sea-6Ui .auto-group-aghq-ePk .auto-group-gd6r-NKk {
  margin: 0rem 10.535rem 3.6rem 0rem;
  width: calc(100% - 10.5345rem);
  display: flex;
  align-items: flex-start;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .auto-group-4sea-6Ui .auto-group-aghq-ePk .auto-group-gd6r-NKk .icons-1-u4n {
  margin: 0.6rem 3.6rem 0rem 0rem;
  width: 7.0004rem;
  height: 7.667rem;
  position: relative;
  background-size: 100.386% 780.87%;
  background-position: -0.0135rem 0rem;
  background-image: url('../assets/icons-1.png');
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .auto-group-4sea-6Ui .auto-group-aghq-ePk .auto-group-gd6r-NKk .atm-operations-PEr {
  max-width: 13.2rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.52;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .auto-group-4sea-6Ui .auto-group-aghq-ePk .line-2-KeJ {
  margin-bottom: 4.0668rem;
  width: 100%;
  height: 0.1333rem;
  background-color: rgba(255, 255, 255, 0.200000003);
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .auto-group-4sea-6Ui .auto-group-aghq-ePk .auto-group-kyai-GJe {
  margin: 0rem 3.435rem 0rem 0.133rem;
  width: calc(100% - 3.5679rem);
  display: flex;
  align-items: center;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .auto-group-4sea-6Ui .auto-group-aghq-ePk .auto-group-kyai-GJe .icons-2-BgW {
  margin: 0.201rem 3.467rem 0rem 0rem;
  width: 7.0004rem;
  height: 7.3337rem;
  position: relative;
  background-size: 100.386% 816.364%;
  background-position: -0.0135rem -17.6008rem;
  background-image: url('../assets/icons-2.png');
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .auto-group-4sea-6Ui .auto-group-aghq-ePk .auto-group-kyai-GJe .software-development-and-integrations-Ghx {
  max-width: 20.3rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.52;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .line-3-9Wr {
  margin: 0rem 0rem 2.8rem 49.002rem;
  width: 34.3351rem;
  height: 0.1333rem;
  background-color: rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .auto-group-igze-5QW {
  margin: 0rem 7.235rem 3.134rem 49.136rem;
  width: calc(100% - 56.3704rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .auto-group-igze-5QW .icons-3-1Z4 {
  margin: 0rem 3.467rem 0.066rem 0rem;
  width: 7.0004rem;
  height: 7.6004rem;
  position: relative;
  background-size: 100.386% 787.719%;
  background-position: -0.0135rem -34.7351rem;
  background-image: url('../assets/icons-3.png');
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .auto-group-igze-5QW .advanced-monitoring-and-reporting-uuL {
  max-width: 16.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.52;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .line-4-1xN {
  margin: 0rem 0rem 2.933rem 49.002rem;
  width: 34.3351rem;
  height: 0.1333rem;
  background-color: rgba(255, 255, 255, 0.200000003);
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .auto-group-kqve-YSW {
  margin: 0rem 1.735rem 0rem 0.6rem;
  width: calc(100% - 2.3346rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .auto-group-kqve-YSW .flags-1-EaE {
  margin-right: 3.1335rem;
  width: 6.0003rem;
  height: 4.4669rem;
  position: relative;
  background-size: 404.589% 100%;
  background-position: -0.0043rem 0rem;
  background-image: url('../assets/flags-1-9Ye.png');
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .auto-group-kqve-YSW .flags-2-Jpz {
  margin-right: 3.1335rem;
  width: 6.0003rem;
  height: 4.4669rem;
  position: relative;
  background-size: 404.589% 100%;
  background-position: -9.1381rem 0;
  background-image: url('../assets/flags-2.png');
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .auto-group-kqve-YSW .flags-3-nkA {
  margin-right: 24.2679rem;
  width: 6.0003rem;
  height: 4.4669rem;
  position: relative;
  background-size: 404.589% 100%;
  background-position: -18.2719rem 0rem;
  background-image: url('../assets/flags-3.png');
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .auto-group-kqve-YSW .icons-4-uJz {
  margin: 0rem 3.467rem 2.2rem 0rem;
  width: 7.0004rem;
  height: 7.3337rem;
  position: relative;
  background-size: 100.386% 816.364%;
  background-position: -0.0135rem -52.5359rem;
  background-image: url('../assets/icons-4.png');
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .auto-group-kqve-YSW .instant-connection-to-card-schemes-aR8 {
  margin-bottom: 4.0006rem;
  max-width: 22rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.52;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-4-qHt .item-4-qHt-bg {
  width: 128.0065rem;
  height: 90.3544rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:3a81c947afb99dd5c6fb8d721a39edcc217837c7');
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-3-2H8 {
  box-sizing: border-box;
  padding: 17.134rem 17.537rem 8.867rem 20.134rem;
  width: 128.0065rem;
  height: 140.1404rem;
  position: absolute;
  left: 0;
  top: 195.7432rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100.036%;
  background-position: 0 -0rem;
  background-image: url('../assets/bg-1-bg.png');
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-3-2H8 .auto-group-ax1c-ive {
  margin: 0rem 0rem 5.667rem 0.067rem;
  width: 90.2689rem;
  height: 19.5343rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-3-2H8 .auto-group-ax1c-ive .logo-3-DcW {
  margin: 1.6rem 4.067rem 0rem 0rem;
  width: 15.8675rem;
  height: 8.1337rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-3-2H8 .auto-group-ax1c-ive .bubble-8zN {
  margin-right: 4.6669rem;
  width: 18.6676rem;
  height: 19.5343rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-3-2H8 .auto-group-ax1c-ive .auto-group-j3es-V4E {
  margin: 1.133rem 0rem 1.534rem 0rem;
  height: calc(100% - 2.6669rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-3-2H8 .auto-group-ax1c-ive .auto-group-j3es-V4E .atm-management-system-pMQ {
  margin: 0rem 0rem 7.667rem 0.2rem;
  font-size: 4.1rem;
  font-weight: 800;
  line-height: 1.3999999442;
  color: #002d3f;
  font-family: Mont, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-3-2H8 .auto-group-ax1c-ive .auto-group-j3es-V4E .cloud-instantly-available-jjG {
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 1.3799999555;
  color: #002d3f;
  font-family: Mont, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-3-2H8 .auto-group-q9yn-fcv {
  margin-right: 2.7978rem;
  width: 87.5378rem;
  height: 88.9378rem;
  position: relative;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-3-2H8 .auto-group-q9yn-fcv .photocomputer-1-ZiJ {
  width: 87.5378rem;
  height: 53.2693rem;
  position: absolute;
  left: 0;
  top: 35.6685rem;
  object-fit: cover;
  vertical-align: top;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-3-2H8 .auto-group-q9yn-fcv .biggreenframe-1-Gci {
  width: 87.5378rem;
  height: 39.0687rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-3-2H8 .auto-group-q9yn-fcv .all-in-one-atm-operations-monitoring--1aJ {
  width: 41.9rem;
  height: 3.2rem;
  position: absolute;
  left: 5.667rem;
  top: 5.2669rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-3-2H8 .auto-group-q9yn-fcv .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-Wmx {
  width: 29rem;
  height: 12.2rem;
  position: absolute;
  left: 11.0672rem;
  top: 12.1339rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3303318891;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-3-2H8 .auto-group-q9yn-fcv .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-Wmx .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-Wmx-sub-0 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3764900932;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-3-2H8 .auto-group-q9yn-fcv .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-Wmx .automated-responses-to-standard-situations-security-monitoring-and-performance-monitoring-Wmx-sub-1 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3764900932;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-3-2H8 .auto-group-q9yn-fcv .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-5Vc {
  width: 28rem;
  height: 17.6rem;
  position: absolute;
  left: 51.7359rem;
  top: 12.1339rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3303320625;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-3-2H8 .auto-group-q9yn-fcv .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-5Vc .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-5Vc-sub-0 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3303320625;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-3-2H8 .auto-group-q9yn-fcv .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-5Vc .added-value-services-include-a-maintenance-engineer-app-and-api-connectivity-to-banking-systems-for-eg-reporting-and-cash-management-5Vc-sub-1 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3303320625;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-3-2H8 .auto-group-q9yn-fcv .line-1-BqU {
  width: 0rem;
  height: 0.1333rem;
  position: absolute;
  left: 42.2021rem;
  top: 13.0673rem;
  background-color: rgba(255, 255, 255, 0.200000003);
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-3-2H8 .auto-group-q9yn-fcv .item-2-1-Kgn {
  width: 2.4668rem;
  height: 4.1335rem;
  position: absolute;
  left: 46.5357rem;
  top: 13.0673rem;
  object-fit: cover;
  vertical-align: top;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-3-2H8 .auto-group-q9yn-fcv .item-2-2-rgi {
  width: 2.4668rem;
  height: 4.1335rem;
  position: absolute;
  left: 5.867rem;
  top: 13.0673rem;
  object-fit: cover;
  vertical-align: top;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-3-2H8 .item-3-2H8-bg {
  width: 128.0065rem;
  height: 140.1404rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:593db44ac56e3c05d3c6d775284a209f23961dda');
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-2-GkS {
  width: 128.0065rem;
  height: 96.8486rem;
  position: absolute;
  left: 0;
  top: 112.139rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/bg2-1-bg.png');
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-2-GkS .auto-group-c2vg-zwL {
  width: 82.6358rem;
  height: 23.5669rem;
  position: absolute;
  left: 20.201rem;
  top: 7.9338rem;
  display: flex;
  align-items: flex-start;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-2-GkS .auto-group-c2vg-zwL .logo-2-Kii {
  margin-right: 32.0016rem;
  width: 15.9341rem;
  height: 8.2004rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-2-GkS .auto-group-c2vg-zwL .we-run-an-in-house-delivery-of-new-atm-software-from-new-transaction-types-to-reporting-or-advanced-security-software-development-and-deployment-per-pci-requirements-4wC {
  margin-top: 5.0669rem;
  max-width: 34.7rem;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 1.4603912717;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-2-GkS .auto-group-qkga-tfL {
  width: 23.9668rem;
  height: 3.1rem;
  position: absolute;
  left: 68.4035rem;
  top: 34.6685rem;
  display: flex;
  align-items: center;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-2-GkS .auto-group-qkga-tfL .rectangle-2-EDQ {
  margin: 0.233rem 1.8rem 0rem 0rem;
  width: 1.0667rem;
  height: 1.0667rem;
  background-color: #174456;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-2-GkS .auto-group-qkga-tfL .multivendor-multihost-jfx {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.4603912717;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-2-GkS .auto-group-r4bu-fpW {
  width: 24.6668rem;
  height: 3.1rem;
  position: absolute;
  left: 68.4035rem;
  top: 39.4687rem;
  display: flex;
  align-items: center;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-2-GkS .auto-group-r4bu-fpW .rectangle-3-biA {
  margin: 0.1rem 1.8rem 0rem 0rem;
  width: 1.0667rem;
  height: 1.0667rem;
  background-color: #174456;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-2-GkS .auto-group-r4bu-fpW .multiprotocol-solutions-Xri {
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.4603912717;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-2-GkS .line-1-GpJ {
  width: 34.3351rem;
  height: 0.1333rem;
  position: absolute;
  left: 68.4701rem;
  top: 38.802rem;
  background-color: rgba(255, 255, 255, 0.200000003);
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-2-GkS .auto-group-fpdk-apz {
  width: 73.6037rem;
  height: 29.7348rem;
  position: absolute;
  left: 25.2679rem;
  top: 52.536rem;
  display: flex;
  align-items: flex-start;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-2-GkS .auto-group-fpdk-apz .atm-software-development-integration-hei {
  margin-right: 17.0022rem;
  max-width: 27.2rem;
  font-size: 4.4002rem;
  font-weight: 800;
  line-height: 1.340909083;
  color: #e8e8e7;
  font-family: Mont, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-2-GkS .auto-group-fpdk-apz .logos-P1k {
  margin-top: 1.2rem;
  width: 29.4015rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-2-GkS .auto-group-fpdk-apz .logos-P1k .auto-group-wjbc-Kvz {
  margin: 0rem 0rem 5.6rem 1.533rem;
  width: calc(100% - 1.5334rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-2-GkS .auto-group-fpdk-apz .logos-P1k .auto-group-wjbc-Kvz .restapi-TnJ {
  margin: 0rem 5.067rem 0rem 0rem;
  width: 11.7339rem;
  height: 9.6005rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-2-GkS .auto-group-fpdk-apz .logos-P1k .auto-group-wjbc-Kvz .iso-PR4 {
  width: 11.0672rem;
  height: 11.0672rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-2-GkS .auto-group-fpdk-apz .logos-P1k .auto-group-sg2e-jjp {
  margin-right: 1.3334rem;
  width: calc(100% - 1.3334rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-2-GkS .auto-group-fpdk-apz .logos-P1k .auto-group-sg2e-jjp .pci-HmL {
  margin: 0rem 4rem 0.067rem 0rem;
  width: 16.4008rem;
  height: 10.8672rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-2-GkS .auto-group-fpdk-apz .logos-P1k .auto-group-sg2e-jjp .nexo-zve {
  width: 7.6671rem;
  height: 11.8673rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-1-iLr {
  width: 128.0065rem;
  height: 112.2036rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-1-iLr .auto-group-vvji-4Qi {
  margin-bottom: 0.0104rem;
  box-sizing: border-box;
  padding: 6.334rem 20.334rem 21.024rem 19.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/big-cubes-1-bg.png');
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-1-iLr .auto-group-vvji-4Qi .auto-group-7wdp-WnW {
  margin: 0rem 0rem 19.201rem 0.468rem;
  width: calc(100% - 0.4677rem);
  height: 8.2004rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-1-iLr .auto-group-vvji-4Qi .auto-group-7wdp-WnW .logo-1-SRG {
  width: 15.9341rem;
  height: 8.2004rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-1-iLr .auto-group-vvji-4Qi .auto-group-7wdp-WnW .auto-group-44ee-ZEz {
  box-sizing: border-box;
  padding: 1.067rem 0rem 1.434rem 36.335rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-1-iLr .auto-group-vvji-4Qi .auto-group-7wdp-WnW .auto-group-44ee-ZEz .smallcubes-1-5j8 {
  margin: 3.058rem 0.986rem 0rem 0rem;
  width: 0.6145rem;
  height: 1.0242rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-1-iLr .auto-group-vvji-4Qi .auto-group-7wdp-WnW .auto-group-44ee-ZEz .auto-group-6dp8-Pzi {
  margin-right: 11.2672rem;
  width: 11.1339rem;
  height: 100%;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-1-iLr .auto-group-vvji-4Qi .auto-group-7wdp-WnW .auto-group-44ee-ZEz .auto-group-6dp8-Pzi .who-we-are-YMp {
  margin-bottom: 0.3001rem;
  width: 100%;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8810472569;
  text-transform: uppercase;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-1-iLr .auto-group-vvji-4Qi .auto-group-7wdp-WnW .auto-group-44ee-ZEz .auto-group-6dp8-Pzi .services-Si6 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8810475213;
  text-transform: uppercase;
  color: #f16726;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-1-iLr .auto-group-vvji-4Qi .auto-group-7wdp-WnW .auto-group-44ee-ZEz .auto-group-flyy-96i {
  width: 11.1339rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-1-iLr .auto-group-vvji-4Qi .auto-group-7wdp-WnW .auto-group-44ee-ZEz .auto-group-flyy-96i .who-we-are-5WA {
  margin-bottom: 0.3001rem;
  width: 100%;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8810472569;
  text-transform: uppercase;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-1-iLr .auto-group-vvji-4Qi .auto-group-7wdp-WnW .auto-group-44ee-ZEz .auto-group-flyy-96i .who-we-are-ksC {
  width: 100%;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8810472569;
  text-transform: uppercase;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-1-iLr .auto-group-vvji-4Qi .atm-direct-1-q7x {
  margin: 0rem 39.201rem 4.765rem 0rem;
  width: 48.4024rem;
  height: 7.8004rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-1-iLr .auto-group-vvji-4Qi .the-only-atm-provider-you-need-M6J {
  margin: 0rem 50.972rem 8.137rem 0rem;
  max-width: 36.9rem;
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 1.3111774868;
  color: #f16726;
  font-family: Mont, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-1-iLr .auto-group-vvji-4Qi .auto-group-b3wa-D8W {
  margin: 0rem 31.47rem 0rem 0.268rem;
  width: calc(100% - 31.7372rem);
  height: 5.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-1-iLr .auto-group-vvji-4Qi .auto-group-b3wa-D8W .button-voc {
  margin: 0.867rem 3.534rem 0.433rem 0rem;
  width: 27.4014rem;
  height: calc(100% - 1.2998rem);
  cursor: pointer;
  font-size: 1.8001rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #002d3f;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f16726;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-1-iLr .auto-group-vvji-4Qi .auto-group-b3wa-D8W .when-complex-tasks-turn-into-fast-and-easy-solutions-9RU {
  max-width: 25.2rem;
  font-size: 1.8001rem;
  font-weight: 400;
  line-height: 1.4629630159;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-1-iLr .logos-mhk {
  box-sizing: border-box;
  padding: 5.8rem 19.934rem 6.065rem 19.934rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/bglogos-1-bg.png');
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-1-iLr .logos-mhk .logotypes-1-6k2 {
  margin-right: 11.6673rem;
  width: 9.0671rem;
  height: 7.6671rem;
  position: relative;
  background-size: 973.031% 100%;
  background-position: -0.044rem -0rem;
  background-image: url('../assets/logotypes-1.png');
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-1-iLr .logos-mhk .logotypes-2-o8e {
  margin-right: 11.7339rem;
  width: 15.9341rem;
  height: 7.6671rem;
  position: relative;
  background-size: 553.691% 100%;
  background-position: -20.7784rem -0rem;
  background-image: url('../assets/logotypes-2.png');
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-1-iLr .logos-mhk .logotypes-3-Jr6 {
  margin-right: 10.0672rem;
  width: 13.2673rem;
  height: 7.6671rem;
  position: relative;
  background-size: 664.986% 100%;
  background-position: -48.4465rem -0rem;
  background-image: url('../assets/logotypes-3-k8z.png');
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .auto-group-fgnn-t9p .item-1-iLr .logos-mhk .logotypes-4-2GJ {
  width: 16.4008rem;
  height: 7.6671rem;
  position: relative;
  background-size: 537.936% 100%;
  background-position: -71.781rem -0rem;
  background-image: url('../assets/logotypes-4.png');
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-8-gbk {
  box-sizing: border-box;
  padding: 6.637rem 20.668rem 8.134rem 19.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #e8e8e8;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-8-gbk .compliance-partners-1P8 {
  margin: 0rem 12.469rem 16.198rem 0rem;
  max-width: 22.5rem;
  font-size: 4.1rem;
  font-weight: 800;
  line-height: 1.3999999442;
  color: #002d3f;
  font-family: Mont, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-8-gbk .dertificate-GK4 {
  margin: 1.63rem 5.267rem 0rem 0rem;
  width: 18.2009rem;
  height: 26.068rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-8-gbk .auto-group-yfpg-aKk {
  margin: 0rem 1.067rem 7.57rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-8-gbk .auto-group-yfpg-aKk .kal-7Kg {
  margin-bottom: 4.9336rem;
  width: 9.8005rem;
  height: 6.7337rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-8-gbk .auto-group-yfpg-aKk .pcidss-rYA {
  width: 13.534rem;
  height: 5.2003rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-8-gbk .auto-group-nq1g-oCW {
  margin-bottom: 8.2371rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-8-gbk .auto-group-nq1g-oCW .visamaster-X8W {
  margin-bottom: 4.3335rem;
  width: 14.4007rem;
  height: 7.0004rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-8-gbk .auto-group-nq1g-oCW .atmia-Tnr {
  width: 11.0672rem;
  height: 4.8669rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-7-n4S {
  box-sizing: border-box;
  padding: 6.067rem 18.102rem 1.163rem 19.934rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/back-bg.png');
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-7-n4S .auto-group-l7qc-6qp {
  margin-bottom: 3.3336rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-7-n4S .auto-group-l7qc-6qp .contact-us--TAa {
  margin: 0rem 19.202rem 1.8rem 0rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.52;
  color: #f16726;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-7-n4S .auto-group-l7qc-6qp .auto-group-lrgz-yei {
  margin: 1rem 14.467rem 0rem 0rem;
  width: 18.0009rem;
  height: 4.6002rem;
  position: relative;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-7-n4S .auto-group-l7qc-6qp .auto-group-lrgz-yei .who-we-are-gp2 {
  width: 18.0009rem;
  height: 2.6001rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 2.0001rem;
  font-size: 1.4667rem;
  font-weight: 400;
  line-height: 1.5200000104;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1280-Xge .item-7-n4S .auto-group-l7qc-6qp .auto-group-lrgz-yei .corporate-office-372-602-7022-PyL {
  width: 17.9rem;
  height: 2.2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5199999128;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
}
.ecexatmdirect1280-Xge .item-7-n4S .auto-group-l7qc-6qp .harju-maakond-tallinn-lasname-linnaosa-katusepapi-tn-6-502-11412-xQA {
  margin-top: 0.6998rem;
  max-width: 25.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5199999128;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-7-n4S .auto-group-cm94-Sq8 {
  margin: 0rem 3.166rem 8.734rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-7-n4S .auto-group-cm94-Sq8 .vector-smart-object-yaA {
  margin: 0rem 1.889rem 0.133rem 0rem;
  width: 4.4447rem;
  height: 3.3335rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-7-n4S .auto-group-cm94-Sq8 .nl-office-31-6-2745-6998-W4J {
  margin: 0.466rem 9.401rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5199999128;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-7-n4S .auto-group-cm94-Sq8 .nl-office-31-6-2745-6998-W4J .nl-office-31-6-2745-6998-W4J-sub-0 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5199999128;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1280-Xge .item-7-n4S .auto-group-cm94-Sq8 .nl-office-31-6-2745-6998-W4J .nl-office-31-6-2745-6998-W4J-sub-1 {
}
.ecexatmdirect1280-Xge .item-7-n4S .auto-group-cm94-Sq8 .vector-smart-object-copy-4-Zwg {
  margin: 0rem 1.861rem 0.133rem 0rem;
  width: 4.4724rem;
  height: 3.3335rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-7-n4S .auto-group-cm94-Sq8 .uk-office-44-7950-449188-tDG {
  margin: 0.466rem 10.468rem 0rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5199999128;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-7-n4S .auto-group-cm94-Sq8 .uk-office-44-7950-449188-tDG .uk-office-44-7950-449188-tDG-sub-0 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5199999128;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1280-Xge .item-7-n4S .auto-group-cm94-Sq8 .uk-office-44-7950-449188-tDG .uk-office-44-7950-449188-tDG-sub-1 {
}
.ecexatmdirect1280-Xge .item-7-n4S .auto-group-cm94-Sq8 .vector-smart-object-copy-5-Tfg {
  margin: 0.133rem 1.867rem 0rem 0rem;
  width: 4.4669rem;
  height: 3.3335rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-7-n4S .auto-group-cm94-Sq8 .ua-office-38-093-441-0774-818 {
  margin-top: 0.4663rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5199999128;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-7-n4S .auto-group-cm94-Sq8 .ua-office-38-093-441-0774-818 .ua-office-38-093-441-0774-818-sub-0 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5199999128;
  color: #e8e8e7;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1280-Xge .item-7-n4S .auto-group-cm94-Sq8 .ua-office-38-093-441-0774-818 .ua-office-38-093-441-0774-818-sub-1 {
}
.ecexatmdirect1280-Xge .item-7-n4S .copyright-2023-atm-direct-o-all-rights-reserved-fQN {
  margin-right: 9.9005rem;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.5199999376;
  color: #000000;
  font-family: Verdana, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.ecexatmdirect1280-Xge .item-7-n4S .copyright-2023-atm-direct-o-all-rights-reserved-fQN .copyright-2023-atm-direct-o-all-rights-reserved-fQN-sub-0 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5199999376;
  color: #000000;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1280-Xge .item-7-n4S .copyright-2023-atm-direct-o-all-rights-reserved-fQN .copyright-2023-atm-direct-o-all-rights-reserved-fQN-sub-1 {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.5199999376;
  color: #000000;
  font-family: Verdana, 'Source Sans Pro';
}
.ecexatmdirect1280-Xge .item-7-n4S .copyright-2023-atm-direct-o-all-rights-reserved-fQN .copyright-2023-atm-direct-o-all-rights-reserved-fQN-sub-2 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5199999376;
  color: #000000;
  font-family: Verdana, 'Source Sans Pro';
}
